<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<div th:fragment="contentFragment">


  <div class="container">
    <div class="row">

      <!--nav-->
      <div class="col-2 mt-5">
        <div class="fs-3 px-4 py-2">마이 야무집</div>
        <div class="border-bottom border-secondary-subtle my-1 mb-3"></div>
        <div class="col">
          <ul class="nav nav-pills flex-column mb-auto">
            <li><a onClick="location.href='/mypage'" class="text-body-tertiary link-body-emphasis d-inline-flex text-decoration-none rounded my-1 active">마이 야무집</a></li>
            <li><a onClick="location.href='/mypage/service'" class="text-body-tertiary link-body-emphasis d-inline-flex text-decoration-none rounded my-1">관심 서비스</a></li>
            <li><a onClick="location.href='/mypage/order'" class="text-body-tertiary link-body-emphasis d-inline-flex text-decoration-none rounded my-1">주문 관리</a></li>
            <li><a onClick="location.href='/mypage/review'" class="text-body-tertiary link-body-emphasis d-inline-flex text-decoration-none rounded my-1">리뷰 쓰기</a></li>
            <li><a onClick="location.href='/mypage/cs'" class="text-body-tertiary link-body-emphasis d-inline-flex text-decoration-none rounded my-1">문의하기</a></li>
          </ul>
        </div>
      </div>

      <!-- 오른쪽 메인 페이지 -->
      <div class="col">

  <div layout:fragment="content">
      <!--Content Section-->
  </div>

  <div layout:fragment="contentModal">
    <!--Modal Section-->
  </div>
      </div>
    </div>
  </div>
</div>

</html>