<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<!--profileFragment 선언-->
    <div th:fragment="profileFragment" style="padding-top: 150px;">

        <div class="container white-box" >
            <div class="row">
                <div class="col-3 p-4 justify-content-center">
                    <div class="img">
                        <img id="image-box"
                             class="img-thumbnail custom-circle center-block"
                             th:src="${#authentication.principal.userImg != null
                                            ? #authentication.principal.userImg : '/images/profile.png'}" alt="유저 프로필"/>
                    </div>
                </div>
                <div class="col d-flex align-items-start justify-content-center flex-column mb-2 ">
                    <div class="p-3" sec:authentication="principal.email"></div>

                    <th:block sec:authorize="hasAuthority('DOBBY')">
                        <button onclick="location.href='/dobby/mypage'" class="btn btn-* border border-white border-2 rounded-pill"><-> 도비로 전환</button>
                    </th:block>
                </div>

                <div class="col d-flex align-items-center justify-content-center">
                    <button onClick="location.href='/mypage/profile'" class="btn btn-primary" >내 정보 등록/수정</button>
                </div>
            </div>
        </div>
    </div>

</html>