<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <th:block layout:fragment="userCss">
    </th:block>
</head>

<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div id="fh5co-header">
            <th:block layout:fragment="headerFragment"></th:block>
        </div>


        <div layout:fragment="content">
            <div class="fh5co-hero" style="height: auto;">
                <div class="fh5co-overlay"></div>
                <section class="container-sm" style="padding-top: 150px;">
                <!--여기부터 본인 페이지 코드 작성-->

                    <div class="col-lg-6" style="float:none; margin: 0 auto;">
                        <div class="text-center">
                            <h1>[[${errorMessage}]]<br>
                                이용에 불편을 드려 죄송합니다.</h1>

                            재시도를 하신 후에도 계속해서 같은 오류가 발생한다면 고객센터로 문의하여 주시기 바랍니다.

                            <button class="btn btn-primary" onclick="location.href='/'">메인으로</button>
                        </div>
                    </div>

                <!--여기까지 본인 페이지 코드 작성-->
                </section>
            </div>
        </div>
        <!-- content -->

    </div>
    <!-- page -->
</div>
<!-- wrapper -->

<th:block layout:fragment="userScript">
<!--본인 페이지 js 작성-->
</th:block>

</body>
</html>
