<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/dobby}">
<head>
    <th:block layout:fragments="userCss">
        <style>
            .white-box{
                background: #F2F2F2;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0.5px 0.5px 2px 1px #eee;
            }
            .custom-width {
                width: 100px; /* 원하는 너비를 지정하세요 */
            }
            .custom-circle {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                overflow: hidden;
            }
            img {
                width: 100px;
                height: 100px;
            }
        </style>
    </th:block>
</head>

<body>
<div id="fh5co-header">
    <th:block layout:fragment="headerFragment"></th:block>
</div>

<div layout:fragment="content">
    <div class="fh5co-hero" style="height: auto;">
        <!--                <div class="fh5co-overlay"></div>-->

        <section class="container-sm">
            <!--여기부터 본인 페이지 코드 작성-->

            <!--nav 옆 (content 안에 nav 있음)-->


            <!-- 출금 가능 수익금 출금 완료 수익금 -->
            <div class="container-fluid border rounded p-5 mt-5">
                <div class="box">
                    <div class="col-md-6 text-center box-div">
                        <h3>출금 가능 수익금</h3>
                        <h1 th:text="${totalAvailablePrice?.getTotalAvailablePrice()}"></h1>
                    </div>
                    <div class="col-md-6 text-center box-div">
                        <h3>출금 완료 수익금</h3>
                        <h1 th:text="${totalCompletedPrice?.getTotalCompletedPrice()}"></h1>
                    </div>
                </div>
            </div>


            <!-- 수익 관리 -> 정산 계좌 등록 -->
            <div class="container-fluid border rounded p-5 mt-5">
                <div class="row">

                    <!-- 등록된 계좌 조회 or 등록해주십쇼 -->
                    <div class="col-7 center-block" >
                        은행명<span th:text="${accountDobby?.accBank}"></span>
                        계좌번호<span th:text="${accountDobby?.accNumber}">*정산 받을 계좌를 등록해주세요.</span>
                        예금주<span th:text="${accountDobby?.accName}"></span>
                    </div>


                    <!-- 계좌 수정 버튼 -->
                    <div class="col-5 text-right">
                        <button type="button" class="btn btn-light" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                            계좌 수정
                        </button>
                    </div>

                    <!-- 계좌 수정 모달 -->

                    <div class="modal 	" tabindex="-1" id="exampleModal">
                        <div class="modal-dialog  modal-dialog-centered">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h5 class="modal-title">정산 계좌 등록</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>

                                <form action="/dobby/calc" method="post">
                                    <div class="modal-body">
                                        은행명
                                        <select class="form-select form-control form-select-lg mb-3"
                                                aria-label="Large select example"
                                                id="accBank" name="accBank" required>
                                            <option th:value="0" th:selected="${accountDobby?.accBank} == null">== 선택 ==</option>
                                            <option th:value="2" th:selected="${accountDobby?.accBank} == 2">산업</option>
                                            <option th:value="3" th:selected="${accountDobby?.accBank} == 3">기업</option>
                                            <option th:value="4" th:selected="${accountDobby?.accBank} == 4">국민</option>
                                            <option th:value="7" th:selected="${accountDobby?.accBank} == 7">수협</option>
                                            <option th:value="11" th:selected="${accountDobby?.accBank} == 11">농협</option>
                                            <option th:value="12" th:selected="${accountDobby?.accBank} == 12">단위농협</option>
                                            <option th:value="20" th:selected="${accountDobby?.accBank} == 20">우리</option>
                                            <option th:value="23" th:selected="${accountDobby?.accBank} == 23">SC제일</option>
                                            <option th:value="27" th:selected="${accountDobby?.accBank} == 27">씨티</option>
                                            <option th:value="31" th:selected="${accountDobby?.accBank} == 31">대구</option>
                                            <option th:value="32" th:selected="${accountDobby?.accBank} == 32">부산</option>
                                            <option th:value="34" th:selected="${accountDobby?.accBank} == 34">광주</option>
                                            <option th:value="35" th:selected="${accountDobby?.accBank} == 35">제주</option>
                                            <option th:value="37" th:selected="${accountDobby?.accBank} == 37">전북</option>
                                            <option th:value="39" th:selected="${accountDobby?.accBank} == 39">경남</option>
                                            <option th:value="45" th:selected="${accountDobby?.accBank} == 45">새마을</option>
                                            <option th:value="48" th:selected="${accountDobby?.accBank} == 48">신협</option>
                                            <option th:value="50" th:selected="${accountDobby?.accBank} == 50">저축</option>
                                            <option th:value="64" th:selected="${accountDobby?.accBank} == 64">산림</option>
                                            <option th:value="71" th:selected="${accountDobby?.accBank} == 71">우체국</option>
                                            <option th:value="81" th:selected="${accountDobby?.accBank} == 81">하나</option>
                                            <option th:value="88" th:selected="${accountDobby?.accBank} == 88">신한</option>
                                            <option th:value="89" th:selected="${accountDobby?.accBank} == 89">케이</option>
                                            <option th:value="90" th:selected="${accountDobby?.accBank} == 90">카카오</option>
                                            <option th:value="92" th:selected="${accountDobby?.accBank} == 92">토스</option>
                                        </select>

                                        <div class="center-block pt-5" style="width: 100%;">
                                            계좌번호
                                            <input type="text" id="accNumber" name="accNumber" class="form-control" th:value="${accountDobby?.accNumber}" th:placeholder="${accountDobby?.accNumber}">
                                        </div>

                                        <div class="center-block pt-5" style="width: 100%;">
                                            예금주
                                            <input type="text" id="accName" name="accName" class="form-control" th:value="${accountDobby?.accName}" th:placeholder="${accountDobby?.accName}">
                                        </div>

                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">계좌 등록</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <!-- 정산 여부 조회 -->
            <div class="container-fluid border rounded p-5 mt-5">

                <div class="table-responsive">
                    <table class="table table-hover align-middle">
                        <thead>
                        <tr>
                            <!--                            <th colspan="2" scope="col">#</th>-->
                            <th scope="col">서비스 번호</th>
                            <th scope="col">서비스 정보</th>
                            <th scope="col"></th>
                            <th scope="col">판매 일자</th>
                            <th scope="col">주문 금액</th>
                            <th scope="col">정산 여부</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="SettlementStatus : ${settlementStatusList}"
                            th:onclick="|location.href='/serviceInfo/${SettlementStatus?.serviceCode}'|">

                            <td th:text="${SettlementStatus?.serviceCode}"></td>
                            <td class="img-col"><img class="order-img" th:src="${SettlementStatus?.thumbnailUrl}"/></td>
                            <td class="title" th:text="${SettlementStatus?.serviceTitle}"></td>
                            <td th:text="${#dates.format(SettlementStatus?.orderDatetime, 'yy.MM.dd')}"></td>
                            <td th:text="|${SettlementStatus?.totalPrice}원|"></td>
                            <td th:text="${SettlementStatus?.calStatus}"></td>
                        </tr>
                        </tbody>

                    </table>


                </div>
            </div>


            <!-- 출금 가능 수익금 출금 완료 수익금 -->
            <div class="container-fluid border rounded p-5 mt-5 mb-5">
                <div class="box">
                    ✓ 꼭 확인해 주세요!<br>
                    • 매출 및 부가세 신고 안내<br>
                    - 야무집은 야무집안전결제를 통해 발생한 전문가의 매출 및 부가세에 대한 신고를 대행하지 않습니다.<br>
                    - 야무집은 관련 법령에 따라 분기별로 국세청에 판매대행 자료를 제출하고 있으나, 신고로서의 기능은 없습니다.<br>
                    - 판매 수수료에 대한 세금계산서는 인증 정보를 기준으로 발행되며, 매월 초 가입하신 이메일로 발송됩니다.<br>
                    - 야무집은 전문가의 매출 신고방법을 따로 안내해 드리지 않으며 매출 신고와 관련된 문의사항은 국세청이나 세무사무소에 문의바랍니다.<br>
                    - 월별 출금 내역은 세무 신고 시의 참고자료이니, 반드시 도비님의 회계자료와 비교 후 처리하시기 바랍니다.<br>
                    • 할인 쿠폰 적용 거래 건 안내<br>
                    - 쿠폰 할인 금액은 야무집이 보전하여 도비에게 수익금으로 정산해 드리므로, 해당 금액이 포함된 ‘총 주문금액'으로 매출 신고합니다.<br>
                </div>
            </div>


            <!--여기까지 본인 페이지 코드 작성-->
        </section>
    </div>
</div>
<!-- content -->

<th:block layout:fragment="userScript">
    <!-- Main JS -->
    <script src="/js/main.js"></script>
</th:block>

</body>
</html>