<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/dobby}">
<head>
    <th:block layout:fragments="userCss">
        <style>
            .white-box{
                background: #F2F2F2;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0.5px 0.5px 2px 1px #eee;
            }
            .custom-width {
                width: 100px; /* 원하는 너비를 지정하세요 */
            }
            .custom-circle {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                overflow: hidden;
            }
        </style>
    </th:block>
</head>

<body>
<div id="fh5co-header">
    <th:block layout:fragment="headerFragment"></th:block>
</div>

<div layout:fragment="content">
    <div class="fh5co-hero" style="height: auto;">
        <!--                <div class="fh5co-overlay"></div>-->

        <section class="container-sm">
            <!--여기부터 본인 페이지 코드 작성-->

            <!--nav 옆 (content 안에 nav 있음)-->

            <!-- 수익 관리 -> 정산 계좌 등록 -->

            <div class="my-5">
                <div class="row white-box">

                    <!-- 등록된 계좌 조회 or 등록해주십쇼 -->
                    <div class="col-7 center-block" >
                        은행명<span th:text="${accountDobby?.accBank}"></span>
                        계좌번호<span th:text="${accountDobby?.accNumber}">*정산 받을 계좌를 등록해주세요.</span>
                        예금주<span th:text="${accountDobby?.accName}"></span>
                    </div>


                    <!-- 계좌 수정 버튼 -->
                    <div class="col-5 text-right">
                        <button type="button" class="btn btn-light" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                            계좌 수정
                        </button>
                    </div>

                    <!-- 계좌 수정 모달 -->

                    <div class="modal 	" tabindex="-1" id="exampleModal">
                        <div class="modal-dialog  modal-dialog-centered">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h5 class="modal-title">정산 계좌 등록</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>

                                <form action="/dobby/calc" method="post">
                                    <div class="modal-body">
                                        은행명
                                        <select class="form-select form-control form-select-lg mb-3"
                                                aria-label="Large select example"
                                                id="accBank" name="accBank" required>
                                            <option th:value="0" th:selected="${accountDobby?.accBank} == null">== 선택 ==</option>
                                            <option th:value="2" th:selected="${accountDobby?.accBank} == 2">산업</option>
                                            <option th:value="3" th:selected="${accountDobby?.accBank} == 3">기업</option>
                                            <option th:value="4" th:selected="${accountDobby?.accBank} == 4">국민</option>
                                            <option th:value="7" th:selected="${accountDobby?.accBank} == 7">수협</option>
                                            <option th:value="11" th:selected="${accountDobby?.accBank} == 11">농협</option>
                                            <option th:value="12" th:selected="${accountDobby?.accBank} == 12">단위농협</option>
                                            <option th:value="20" th:selected="${accountDobby?.accBank} == 20">우리</option>
                                            <option th:value="23" th:selected="${accountDobby?.accBank} == 23">SC제일</option>
                                            <option th:value="27" th:selected="${accountDobby?.accBank} == 27">씨티</option>
                                            <option th:value="31" th:selected="${accountDobby?.accBank} == 31">대구</option>
                                            <option th:value="32" th:selected="${accountDobby?.accBank} == 32">부산</option>
                                            <option th:value="34" th:selected="${accountDobby?.accBank} == 34">광주</option>
                                            <option th:value="35" th:selected="${accountDobby?.accBank} == 35">제주</option>
                                            <option th:value="37" th:selected="${accountDobby?.accBank} == 37">전북</option>
                                            <option th:value="39" th:selected="${accountDobby?.accBank} == 39">경남</option>
                                            <option th:value="45" th:selected="${accountDobby?.accBank} == 45">새마을</option>
                                            <option th:value="48" th:selected="${accountDobby?.accBank} == 48">신협</option>
                                            <option th:value="50" th:selected="${accountDobby?.accBank} == 50">저축</option>
                                            <option th:value="64" th:selected="${accountDobby?.accBank} == 64">산림</option>
                                            <option th:value="71" th:selected="${accountDobby?.accBank} == 71">우체국</option>
                                            <option th:value="81" th:selected="${accountDobby?.accBank} == 81">하나</option>
                                            <option th:value="88" th:selected="${accountDobby?.accBank} == 88">신한</option>
                                            <option th:value="89" th:selected="${accountDobby?.accBank} == 89">케이</option>
                                            <option th:value="90" th:selected="${accountDobby?.accBank} == 90">카카오</option>
                                            <option th:value="92" th:selected="${accountDobby?.accBank} == 92">토스</option>
                                        </select>

                                        <div class="center-block pt-5" style="width: 100%;">
                                            계좌번호
                                            <input type="text" id="accNumber" name="accNumber" class="form-control" th:value="${accountDobby?.accNumber}" th:placeholder="${accountDobby?.accNumber}">
                                        </div>

                                        <div class="center-block pt-5" style="width: 100%;">
                                            예금주
                                            <input type="text" id="accName" name="accName" class="form-control" th:value="${accountDobby?.accName}" th:placeholder="${accountDobby?.accName}">
                                        </div>

                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">계좌 등록</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>




            <!--여기까지 본인 페이지 코드 작성-->
        </section>
    </div>
</div>
<!-- content -->

<th:block layout:fragment="userScript">
    <!-- Main JS -->
    <script src="/js/main.js"></script>
</th:block>

</body>
</html>