<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/dobby}">
<head>
    <th:block layout:fragments="userCss">
        <style>
            .white-box{
                background: #F2F2F2;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0.5px 0.5px 2px 1px #eee;
            }
            .custom-width {
                width: 100px; /* 원하는 너비를 지정하세요 */
            }
            .custom-circle {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                overflow: hidden;
            }
        </style>
    </th:block>
</head>

<body>
<div id="fh5co-header">
    <th:block layout:fragment="headerFragment"></th:block>
</div>

<div layout:fragment="content">
    <div class="fh5co-hero" style="height: auto;">
        <!--                <div class="fh5co-overlay"></div>-->

        <section class="container-sm">
            <!--여기부터 본인 페이지 코드 작성-->

            <!--nav 옆 (content 안에 nav 있음)-->

            <div class="card mt-5 mb-3 p-4" >
                <div class="card-header">판매 상태 안내</div>
                <div th:each="orderStatus : ${orderStatusList}">
                    <div class="row card-body">
                        <div class="col">
                            <h5 class="card-title" th:text="|${#dates.format(orderStatus?.orderDatetime, 'yy.MM.dd')} 주문|"></h5>
                        </div>
                        <div class="col text-a">
                            <h5 class="card-title text-end" th:text="|주문번호 ${orderStatus?.orderCode}|"></h5>
                        </div>

                    </div>

                    <div class="p-5">
                        <div class="position-relative m-4">
                            <div class="progress">

                                <!-- 주문 완료 O -->
                                <div class="progress"
                                     th:style="'width: ' + (${orderStatus?.orderStatus} == 'O' ? '100%' : '0%')">
                                    <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">결제 완료</div>
                                </div>

                                <!-- 예약 승인 A -->
                                <div class="progress"
                                     th:style="'width: ' + (${orderStatus?.orderStatus} == 'A' ? '100%' : '0%')">
                                    <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">결제 완료</div>
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 33%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"
                                         th:text="|예약 승인 : 서비스 진행 일자 - ${#dates.format(orderStatus?.reserveDatetime, 'yy.MM.dd')}|">예약 승인</div>
                                </div>

                                <!-- 서비스 완료 F -->
                                <div class="progress"
                                     th:style="'width: ' + (${orderStatus?.orderStatus} == 'F' ? '100%' : '0%')">
                                    <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">결제 완료</div>
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 33%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"
                                         th:text="|예약 승인 : 서비스 진행 일자 - ${#dates.format(orderStatus?.reserveDatetime, 'yy.MM.dd')}|">예약 승인</div>
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 34%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">서비스 완료</div>
                                </div>

                                <!-- 서비스 거절 R -->
                                <div class="progress"
                                     th:style="'width: ' + (${orderStatus?.orderStatus} == 'R' ? '100%' : '0%')">
                                    <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">결제 완료</div>
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 67%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">서비스 거절</div>
                                </div>

                                <!-- 서비스 취소 C -->
                                <div class="progress"
                                     th:style="'width: ' + (${orderStatus?.orderStatus} == 'C' ? '100%' : '0%')">
                                    <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">결제 완료</div>
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 67%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100">서비스 취소</div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!--여기까지 본인 페이지 코드 작성-->
        </section>
    </div>
</div>
<!-- content -->

<th:block layout:fragment="userScript">
    <!-- Main JS -->
    <script src="/js/main.js"></script>
</th:block>

</body>
</html>