<div class="modal fade" id="applyModal" tabindex="-1" aria-labelledby="applyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form action="/dobby/orderReject" method="post">
                <input type="hidden" name="orderCode" th:value="${orderDetail.orderCode}"/>
                <div class="modal-header">
                    <h2 class="modal-title" id="applyModalLabel">
                        거절 사유를 입력해주세요.
                    </h2>
                </div>
                <div class="modal-body">
                    * 거절한 주문은 즉시 결제 취소 처리되며 철회할 수 없습니다.
                    <table class="table service-table">
                        <tr>
                            <th style="width: 150px;">거절 사유</th>
                            <td>
                                <select class="form-select form-select-lg" name="rejectReason" id="rejectReason" required>
                                    <option selected value="">거절 사유 선택</option>
                                    <option value="일정문제">일정문제</option>
                                    <option value="개인사정">개인사정</option>
                                    <option value="etc">기타</option>
                                </select>
                                <textarea class="form-control" name="rejectReasonEtc" id="rejectReasonEtc"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="closeBtn btn btn-secondary" data-dismiss="modal" aria-label="Close">
                        닫기
                    </button>
                    <button type="submit" class="btn btn-primary">주문 거절</button>
                </div>
            </form>
        </div>
    </div>
</div>