<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <th:block layout:fragment="userCss">
        <style>
            .white-box{
                background: #F2F2F2;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0.5px 0.5px 2px 1px #eee;
            }
            .custom-width {
                width: 100px; /* 원하는 너비를 지정하세요 */
            }
            .custom-circle {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                overflow: hidden;
            }
        </style>
    </th:block>
</head>

<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div id="fh5co-header">
            <th:block layout:fragment="headerFragment"></th:block>
        </div>


        <div layout:fragment="content">
            <div class="fh5co-hero" style="height: auto;">
                <!--                <div class="fh5co-overlay"></div>-->
                <section class="container-sm" style="padding-top: 150px;">

                    <!--여기부터 본인 페이지 코드 작성-->

                    <div class=" text-center">
                        <img src="/images/logo.png" class="img-fluid"
                             style="width: 20rem; background-color: #0E79B2; border-radius: 10%" alt="logo">
                        <h2></h2>
                        <p class="lead">야무집의 도비가 되어 환상적인 서비스를 선보이세요!
                            도비로서 야무집과 함께하면 더 넓은 세계를 경험할 수 있습니다.<br>
                            당신이 도비가 되면, 우리는 함께 더 많은 꿈을 이룰 수 있습니다.</p>
                    </div>

<!--                    새페이지에서 등록-->
<!--                    <div class="col d-flex align-items-center justify-content-center mb-5">-->
<!--                        <button type="button" onClick="location.href='/signup/dobby'" class="btn btn-primary">도비-->
<!--                            등록하기-->
<!--                        </button>-->
<!--                    </div>-->

                    <div class="form-group d-flex justify-content-center mb-5" action="/signup/dobby" method="post">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                            도비 등록하기
                        </button>

                        <div class="modal 	" tabindex="-1" id="exampleModal">
                            <div class="modal-dialog  modal-dialog-centered">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title">도비 등록</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>

                                    <form action="/signup/dobby" method="post">
                                        <div class="modal-body">

                                            <b>전문 분야 등록하면<br>
                                            도비 등록 완료!
                                            </b>
                                            <h2></h2>
                                            <p th:text="|아이디 : ${#authentication.principal.userId}|"></p>
                                            <p th:text="|이름 : ${#authentication.principal.userName}|"></p>
                                            <p th:text="|연락처 : ${#authentication.principal.phone}|"></p>

                                                <select class="form-select form-control form-select-lg mb-3"
                                                        aria-label="Large select example"
                                                         id="applyCareer" name="applyCareer" required>
                                                    <option selected>전문 분야</option>
                                                    <option value="청소">청소</option>
                                                    <option value="수리">수리</option>
                                                    <option value="이사">이사</option>
                                                    <option value="설치">설치</option>
                                                    <option value="인테리어">인테리어</option>
                                                </select>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">도비 등록</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--여기까지 본인 페이지 코드 작성-->
                </section>
            </div>
        </div>
        <!-- content -->

    </div>
    <!-- page -->
</div>
<!-- wrapper -->

<th:block layout:fragment="userScript">
    <!--본인 페이지 js 작성-->
    <!-- Main JS -->
    <script src="/js/main.js"></script>
</th:block>

</body>
</html>
