<!DOCTYPE html>

<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/layout}">

<head>
    <th:block layout:fragment="userCss">
        <style>
            .white-box{
                background: #F2F2F2;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0.5px 0.5px 2px 1px #eee;
            }
            .custom-width {
                width: 100px; /* 원하는 너비를 지정하세요 */
            }
            .custom-circle {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                overflow: hidden;
            }
        </style>
    </th:block>
</head>

<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div id="fh5co-header">
            <th:block layout:fragment="headerFragment"></th:block>
        </div>


        <div layout:fragment="content">
            <div class="fh5co-hero" style="height: auto;">
                <section class="container-sm" style="padding-top: 150px;">

                    <!--여기부터 본인 페이지 코드 작성-->

                    <div class="row">
                        <h4 class="mb-3">DOBBY</h4>-->

                        <p th:text="${#authentication.principal.userId}"></p>
                        <p th:text="${#authentication.principal.userName}"></p>
                        <p th:text="${#authentication.principal.phone}"></p>

<!--                        <form class="needs-validation" action="/signup/dobby" method="post">-->
<!--                            <label for="applyCareer">전문 분야:</label>-->
<!--                            <input type="text" id="applyCareer" name="applyCareer" required>-->
<!--                            <br>-->
<!--                            <button type="submit">전송</button>-->
<!--                        </form>-->

                        <form action="/signup/dobby" method="post">
                            <select class="form-select form-select-lg mb-3"
                                    aria-label="Large select example"
                                    id="applyCareer" name="applyCareer" required>
                                <option selected>전문 분야</option>
                                <option type="text" value="청소">청소</option>
                                <option type="text" value="수리">수리</option>
                                <option type="text" value="이사">이사</option>
                                <option type="text" value="설치">설치</option>
                                <option type="text" value="인테리어">인테리어</option>
                            </select>
                            <button type="submit">전송</button>
                        </form>

                    </div>


                    <!--여기까지 본인 페이지 코드 작성-->
                </section>
            </div>
        </div>
        <!-- content -->

    </div>
    <!-- page -->
</div>
<!-- wrapper -->

<th:block layout:fragment="userScript">
    <!--본인 페이지 js 작성-->
    <!-- Main JS -->
    <script src="/js/main.js"></script>
</th:block>

</body>
</html>
