<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/dobby}">
<head>
    <th:block layout:fragments="userCss">
        <style>
            .white-box{
                background: #F2F2F2;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0.5px 0.5px 2px 1px #eee;
            }
            .custom-width {
                width: 100px; /* 원하는 너비를 지정하세요 */
            }
            .custom-circle {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                overflow: hidden;
            }
        </style>
    </th:block>
</head>

<body>
<div id="fh5co-header">
    <th:block layout:fragment="headerFragment"></th:block>
</div>

<div layout:fragment="content">
    <div class="fh5co-hero" style="height: auto;">
        <!--                <div class="fh5co-overlay"></div>-->

        <section class="container-sm">
            <!--여기부터 본인 페이지 코드 작성-->

            <!--nav 옆 (content 안에 nav 있음)-->

            <!--여기까지 본인 페이지 코드 작성-->
        </section>
    </div>
</div>
<!-- content -->

<th:block layout:fragment="userScript">
    <!-- Main JS -->
    <script src="/js/main.js"></script>
</th:block>

</body>
</html>