<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.trillion.yamuzip.user.mypage.model.dao.OrderMapper">

    <select id="selectOrderCount" resultType="_int" parameterType="hashmap">
        SELECT
            COUNT(*)
        FROM
            tbl_order a
        <if test="searchCondition == 'serviceTitle'">
        JOIN
            tbl_service b ON(a.service_code = b.service_code)
        </if>
        <where>
            <if test="searchCondition == 'serviceTitle'">
                b.service_title LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="start != '' and start != null">
                AND
                a.order_datetime > #{ start }
            </if>
            <if test="end != '' and end != null">
                AND
                #{ end } > DATE_ADD(a.order_datetime, INTERVAL -1 DAY)
            </if>
            AND
                user_code = #{ userCode }
            AND
                order_status != 'C'
            AND
                order_status != 'R'
        </where>
        ORDER BY
            order_datetime DESC
    </select>

    <select id="selectAllOrderList" resultType="team.trillion.yamuzip.user.mypage.model.dto.OrderDTO">
        SELECT
            a.order_code,
            a.user_code,
            a.service_code,
            b.thumbnail_url,
            b.service_title,
            a.order_datetime,
            a.order_status,
            a.total_price
        FROM
            tbl_order a
                JOIN
            tbl_service b on (a.service_code = b.service_code)
        <where>
            <if test="selectCriteria.searchCondition == 'serviceTitle'">
                b.service_title LIKE CONCAT('%', #{ selectCriteria.searchValue }, '%')
            </if>
            <if test="selectCriteria.start != '' and selectCriteria.start != null">
                AND
                a.order_datetime > #{ selectCriteria.start }
            </if>
            <if test="selectCriteria.end != '' and selectCriteria.end != null">
                AND
                #{ selectCriteria.end } > DATE_ADD(a.order_datetime, INTERVAL -1 DAY)
            </if>
            AND
                user_code = #{ userCode }
            AND
                order_status != 'C'
            AND
                order_status != 'R'
        </where>
        ORDER BY
            a.order_datetime DESC
        LIMIT #{selectCriteria.offset}, #{selectCriteria.limit}
    </select>

    <select id="selectOrderDetail" resultType="team.trillion.yamuzip.user.mypage.model.dto.OrderDetailDTO">
        SELECT
            a.order_code,
            a.order_datetime,
            a.reserve_datetime,
            a.cancel_datetime,
            a.reject_datetime,
            a.cancel_reason,
            a.reject_reason,
            a.order_status,
            a.total_price,
            b.service_title,
            b.service_price,
            b.thumbnail_url,
            c.user_name,
            d.pay_status,
            d.pay_type,
            e.option_name,
            e.option_price
        FROM
            tbl_order a
                JOIN
            tbl_service b on a.service_code = b.service_code
                JOIN
            tbl_user c on a.user_code = c.user_code
                JOIN
            tbl_payment d on a.order_code = d.order_code
                LEFT JOIN
            tbl_option e on a.option_code = e.option_code
        WHERE
            a.order_code = #{ orderCode };
    </select>

    <select id="selectCancelCount" resultType="_int" parameterType="hashmap">
        SELECT
            COUNT(*)
        FROM
            tbl_order a
        <if test="searchCondition == 'serviceTitle'">
            JOIN
            tbl_service b ON(a.service_code = b.service_code)
        </if>
        <where>
            <if test="searchCondition == 'serviceTitle'">
                b.service_title LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="start != '' and start != null">
                AND
                a.order_datetime > #{ start }
            </if>
            <if test="end != '' and end != null">
                AND
                #{ end } > DATE_ADD(a.order_datetime, INTERVAL -1 DAY)
            </if>
            AND
                user_code = #{ userCode }
            AND
                order_status = 'C'
            OR
                order_status = 'R'
        </where>
        ORDER BY
        order_datetime DESC
    </select>

    <select id="selectAllCancelList" resultType="team.trillion.yamuzip.user.mypage.model.dto.OrderDTO">
        SELECT
            a.order_code,
            a.user_code,
            a.service_code,
            b.thumbnail_url,
            b.service_title,
            a.order_datetime,
            a.order_status,
            a.total_price
        FROM
            tbl_order a
        JOIN
            tbl_service b on (a.service_code = b.service_code)
        <where>
            <if test="selectCriteria.searchCondition == 'serviceTitle'">
                b.service_title LIKE CONCAT('%', #{ selectCriteria.searchValue }, '%')
            </if>
            <if test="selectCriteria.start != '' and selectCriteria.start != null">
                AND
                a.order_datetime > #{ selectCriteria.start }
            </if>
            <if test="selectCriteria.end != '' and selectCriteria.end != null">
                AND
                #{ selectCriteria.end } > DATE_ADD(a.order_datetime, INTERVAL -1 DAY)
            </if>
            AND
                user_code = #{ userCode }
            AND
                (order_status = 'C'
                OR
                order_status = 'R')
        </where>
        ORDER BY
            a.order_datetime DESC
        LIMIT #{selectCriteria.offset}, #{selectCriteria.limit}
    </select>

</mapper>