<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.trillion.yamuzip.user.mypage.model.dao.OrderStatusMapper">

    <!-- 진행 중 서비스 - 서비스 진행 일자가 현재 날짜의 7일이 지났을 경우 조회되지 않음 -->
    <select id="orderStatus" resultType="team.trillion.yamuzip.user.mypage.model.dto.OrderStatusDTO">
        SELECT
            order_code,
            service_code,
            user_code,
            order_datetime,
            order_status,
            reserve_datetime,
            reject_reason
        FROM
            tbl_order
        WHERE
            user_code = #{userCode}
            AND
            reserve_datetime > DATE_SUB(NOW(), INTERVAL 7 DAY);
    </select>


</mapper>