<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<!--headerFragment 선언-->
<div th:fragment="headerFragment">
    <header id="fh5co-header-section" style="background-color: rgba(0,0,0,0.15)">
        <div class="container">
            <div class="nav-header">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
                <h1 id="fh5co-logo"><a href="/">YAMUZIP</a></h1>
                <!-- START #fh5co-menu-wrap -->
                <nav id="fh5co-menu-wrap" role="navigation">
                    <ul class="sf-menu" id="fh5co-primary-menu">
                        <li>
                            <a href="#" class="fh5co-sub-down">전체카테고리</a>
                            <ul class="fh5co-sub-menu">
                                <li><a href="#">공지사항</a></li>
                                <li><a href="#">고객센터</a></li>
                                <li><a href="/service/serviceList/sortCategory?categoryCode=1">청소</a>
                                    <ul class="fh5co-sub-menu">
                                        <li><a href="/service/serviceList/sortCategory?categoryCode=6" target="_blank">가구 청소</a></li>
                                        <li><a href="/service/serviceList/sortCategory?categoryCode=7" target="_blank">가전제품 청소</a></li>
                                        <li><a href="/service/serviceList/sortCategory?categoryCode=8" target="_blank">하수구 청소</a></li>
                                    </ul>
                                </li>
                                <li><a href="/service/serviceList/sortCategory?categoryCode=2">수리</a>
                                    <ul class="fh5co-sub-menu">
                                        <li><a href="/service/serviceList/sortCategory?categoryCode=9" target="_blank">컴퓨터 수리</a></li>
                                        <li><a href="/service/serviceList/sortCategory?categoryCode=10" target="_blank">가전제품 수리</a></li>
                                    </ul>
                                </li>
                                <li><a href="/service/serviceList/sortCategory?categoryCode=3">이사</a>
                                    <ul class="fh5co-sub-menu">
                                        <li><a href="/service/serviceList/sortCategory?categoryCode=11" target="_blank">가정 이사</a></li>
                                        <li><a href="/service/serviceList/sortCategory?categoryCode=12" target="_blank">원룸/소형 이사</a></li>
                                        <li><a href="/service/serviceList/sortCategory?categoryCode=13" target="_blank">사무실 이사</a></li>
                                    </ul>
                                </li>
                                <li><a href="/service/serviceList/sortCategory?categoryCode=4">설치</a>
                                    <ul class="fh5co-sub-menu">
                                        <li><a href="/service/serviceList/sortCategory?categoryCode=14" target="_blank">에어컨 설치</a></li>
                                        <li><a href="/service/serviceList/sortCategory?categoryCode=15" target="_blank">난방기구 수리</a></li>
                                    </ul>
                                </li>
                                <li><a href="/service/serviceList/sortCategory?categoryCode=5">인테리어</a>
                                    <ul class="fh5co-sub-menu">
                                        <li><a href="/service/serviceList/sortCategory?categoryCode=16" target="_blank">단열 시공</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <th:block sec:authorize="hasAnyAuthority('GENERAL')">
                        <li class="active">
                            <a href="/signup/become-a-dobby">도비등록</a>
                        </li>
                        </th:block>
                        <th:block sec:authorize="isAnonymous()">
                            <li class="active">
                                <a href="/login">로그인</a>
                            </li>
                            <li class="loginBtn"><a href="/regist">회원가입</a></li>
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('GENERAL' ,'DOBBY')">
                            <li><a href="/mypage">마이페이지</a></li>
                            <li><a href="/logout">로그아웃</a></li>
                        </th:block>

                        <th:block sec:authorize="hasAuthority('ADMIN')">
                            <li><a href="/admin/dashboard">관리자페이지</a></li>
                            <li><a href="/logout">로그아웃</a></li>
                        </th:block>
                    </ul>

                    <th:block sec:authorize="hasAnyAuthority('GENERAL' ,'DOBBY')">
                        <p class="text-right"><span sec:authentication="principal.userNickname"></span>님의 방문을 환영합니다.</p>
                    </th:block>

                </nav>
            </div>
        </div>
    </header>
</div>

</html>