<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<!--headerFragment 선언-->
<div th:fragment="headerFragment">
    <header id="fh5co-header-section" style="background-color: rgba(0,0,0,0.15)">
        <div class="container">
            <div class="nav-header">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
                <h1 id="fh5co-logo"><a href="/">YAMUZIP</a></h1>
                <!-- START #fh5co-menu-wrap -->
                <nav id="fh5co-menu-wrap" role="navigation">
                    <ul class="sf-menu" id="fh5co-primary-menu">
                        <li>
                            <a href="#" class="fh5co-sub-down">전체카테고리</a>
                            <ul class="fh5co-sub-menu">
                                <li><a href="#">서비스</a>
                                    <ul class="fh5co-sub-menu">
                                        <li><a href="" target="_blank">전체서비스</a></li>
                                        <li><a href="" target="_blank">청소</a></li>
                                        <li><a href="" target="_blank">수리</a></li>
                                        <li><a href="" target="_blank">이사</a></li>
                                        <li><a href="" target="_blank">설치</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">공지사항</a></li>
                                <li><a href="#">로그인</a></li>
                                <li><a href="#">회원가입</a></li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="/signup/become-a-dobby">도비등록</a>
                        </li>
                        <th:block sec:authorize="isAnonymous()">
                            <li class="active">
                                <a href="/user/login">로그인</a>
                            </li>
                            <li class="loginBtn"><a href="/user/regist">회원가입</a></li>
                        </th:block>

                        <th:block sec:authorize="hasAnyAuthority('GENERAL' ,'DOBBY')">
                            <li><a href="/mypage">마이페이지</a></li>
                            <li><a href="/user/logout">로그아웃</a></li>
                        </th:block>

                        <th:block sec:authorize="hasAuthority('ADMIN')">
                            <li><a href="admin/admin">관리자페이지</a></li>
                            <li><a href="/user/logout">로그아웃</a></li>
                        </th:block>
                    </ul>

                    <th:block sec:authorize="hasAnyAuthority('GENERAL' ,'DOBBY')">
                        <p class="text-right"><span sec:authentication="principal.userNickname"></span>님의 방문을 환영합니다.</p>
                    </th:block>

                </nav>
            </div>
        </div>
    </header>
</div>

</html>