<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <th:block layout:fragment="userCss">
    </th:block>
    <style>


        .buttons {
            text-align: Right;
            margin-bottom: 20px;
        }

        button {
            padding: 10px 20px;
            margin-right: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        #questionFormContainer {
            border: 1px solid #ccc;
            padding: 20px;
            margin-bottom: 20px;
        }

        #questionList {
            border: 1px solid #ccc;
            padding: 20px;
        }

        .post {
            margin-bottom: 20px;
        }

        .post-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .post-actions {
            display: flex;
        }

        .post-actions button {
            margin-right: 10px;
        }

        .post-content {
            margin-top: 10px;
        }

        .answer {
            margin-top: 10px;
            border-top: 1px solid #ccc;
            padding-top: 10px;
        }
        hr {
            color: black;
            opacity: 100;
        }

        .price {
            color: #003363;
            font-size: 40px;
        }

        .priceBox {
            display: flex;
            justify-content: space-between;
        }

        .heart {
            font-size: 30px;
            color: red;
        }

        .order {
            font-size: 20px;
            color: white;
            width: 100%;
            height: 60px;
            border-color: white;
            border-radius: 20px;
            background-color: #003363;;
        }

        .orderBox {
            display: flex;

            justify-content: center;

        }

        .profileCard p {
            color: black;
        }

        .profile img {
            width: 100px;
            height: 100px;
        }

        .breadcrumb li a {
            color: #003363;
        }

        .cardImg {
            width: 200px;
            height: auto;
        }

        .choice {
            color: black;
            margin-right: 10px;
        }

        .reviewImg {
            width: 300px;
            height: 200px;
        }

        .infoRow {
            margin-top: -100px;
        }

    </style>
</head>

<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div id="fh5co-header">
            <th:block layout:fragment="headerFragment"></th:block>
        </div>


        <div layout:fragment="content">
            <div class="fh5co-hero" style="height: auto;">
                <!--                <div class="fh5co-overlay"></div>-->
                <section class="container-sm" style="padding-top: 150px;">

                    <!--여기부터 본인 페이지 코드 작성-->

                    <section class="py-5">

                        <div class="container px-4 px-lg-5 my-5">
                            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">소 카테테고리 제목</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"><a href="#"><b>소 카테고리 내용</b></a>
                                    </li>
                                </ol>
                            </nav>
                            <div class="row gx-4 gx-lg-5 align-items-center">
                                <div class="col-md-6">
                                    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active" data-bs-interval="2000">
                                                <img src="/images/설치_2.png" class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item" data-bs-interval="2000">
                                                <img src="/images/설치_2.png" class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="/images/설치_2.png" class="d-block w-100" alt="...">
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button"
                                                data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                                data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <h1 class="display-5 fw-bolder">서비스 이름 어쩌구</h1>
                                    <p class="lead">서비스 설명서비스 설명서비스 설명서비스 설명서비스 설명서비스 설명서비스 설명서비스 설명서비스 설명서비스 설명서비스
                                        설명서비스 설명서비스 설명서비스 설명서비스 설명서비스 설명</p>
                                    <div class="priceBox fs-5 mb-5">
                                        <span class="heart">♥️</span>
                                        <span class="price"><b>31,600~</b></span>
                                    </div>
                                    <div class="orderBox">
                                        <button class="order btn-block" type="button">
                                            주문하기
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- 서비스 설명 탭 -->
                            <div class="row">
                                <div class="col-md-6">
                                    <nav class="nav nav-tabs">
                                        <a class="nav-link active" aria-current="page" href="#serviceContext">서비스 설명</a>
                                        <a class="nav-link" href="#options">옵션 정보</a>
                                        <a class="nav-link" href="#reviews">리뷰</a>
                                        <a class="nav-link" href="#">문의</a>
                                    </nav>
                                </div>
                                <div class="profileCard col-md-2">
                                    <img src="/images/main_icon1.png" class="cardImg card-img-top p-3 img-thumbnail"
                                         alt="...">
                                </div>
                                <div class="profileCard col-md-4">
                                    <div class="Card">
                                        <div class="card-body">
                                            <p class="card-text"><b>도비이름</b></p>
                                            <p class="card-text">영업일 : 연중무휴</p>
                                            <p class="card-text">지역 : 서울 중구</p>
                                            <p class="card-text">저는 청소왕 도비입니다. 초반 일부 글자만 노출</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="infoRow row">
                                <h1>Info</h1>
                                <div class="col-md-6" id="serviceContext">
                                    <p>🔥구매 전 필독사항🔥

                                        ✔️핸드메이드 특성상 눈,코,입,귀 등
                                        위치나 모양이 조금씩 다를 수 있습니다.

                                        ✔️색상은 보시는 화면에따라
                                        실제와 차이가 있을 수 있습니다.

                                        ✔️기종과 옵션을 정확하게 선택해주세요.
                                        (주문제작 상품으로 잘못 선택 시
                                        교환/환불이 어려울 수 있습니다)

                                        ✔️추가 커스터마이징 및 색상문의 등
                                        다른 요청사항이나 궁금하신점은 메시지 주세요.</p>
                                    <hr>

                                </div>
                            </div>

                            <h1>Options</h1>
                            <div class="row">
                                <div class="col-md-6" id="options">
                                    <div class="bg-body rounded shadow-sm">
                                        <h6 class="border-bottom pb-2 mb-0">옵션</h6>
                                        <div class="d-flex text-body-secondary pt-3">
                                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32"
                                                 height="32" xmlns="http://www.w3.org/2000/svg" role="img"
                                                 aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice"
                                                 focusable="false"><title>Placeholder</title>
                                                <rect width="100%" height="100%" fill="#007bff"></rect>
                                                <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                                            </svg>
                                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                                <div class="d-flex justify-content-between">
                                                    <strong class="text-gray-dark">Option Name</strong>
                                                    <a class="choice" href="#">선택</a>
                                                </div>
                                                <span class="d-block">Price:+20,000</span>
                                            </div>
                                        </div>
                                        <div class="d-flex text-body-secondary pt-3">
                                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32"
                                                 height="32" xmlns="http://www.w3.org/2000/svg" role="img"
                                                 aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice"
                                                 focusable="false"><title>Placeholder</title>
                                                <rect width="100%" height="100%" fill="#007bff"></rect>
                                                <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                                            </svg>
                                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                                <div class="d-flex justify-content-between">
                                                    <strong class="text-gray-dark">Option Name</strong>
                                                    <a class="choice" href="#">선택</a>
                                                </div>
                                                <span class="d-block">Price:+25,000</span>
                                            </div>
                                        </div>
                                        <div class="d-flex text-body-secondary pt-3">
                                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32"
                                                 height="32" xmlns="http://www.w3.org/2000/svg" role="img"
                                                 aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice"
                                                 focusable="false"><title>Placeholder</title>
                                                <rect width="100%" height="100%" fill="#007bff"></rect>
                                                <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                                            </svg>
                                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                                <div class="d-flex justify-content-between">
                                                    <strong class="text-gray-dark">Option Name</strong>
                                                    <a class="choice" href="#">선택</a>
                                                </div>
                                                <span class="d-block">Price:+35000</span>
                                            </div>
                                        </div>
                                        <small class="d-block text-end mt-3">
                                            <a href="#">All suggestions</a>
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <h1>Reviews</h1>
                            <div class="row">
                                <div class="col-md-2" id="reviews">
                                    <img src="/images/main_icon1.png" class="reviewImg img-thumbnail rounded "
                                         alt="...">
                                </div>

                                <div class="col-md-3">
                                    <p id="userName">
                                        사용자1234
                                    </p>
                                    <p id="reviewDate">
                                        2024-01-01
                                    </p>
                                    <p id="reviewRate">
                                        ⭐️⭐️⭐️⭐️⭐️

                                    </p>

                                    <p id="reviewContext">
                                        내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                                    </p>
                                    <p>options : 2132134</p>
                                </div>
                                <hr>
                            </div>
                            <div class="container">
                                <h1>Customer Inquiries</h1>
                                <div class="post-list">
                                    <div class="post-item">
                                        <div class="post-header">
                                            <span>번호: 1</span>
                                            <span>답변여부: 예</span>
                                            <span>구분: 상품문의</span>
                                        </div>
                                        <div class="post-content">
                                            <p>내용: 상품 관련 문의입니다.</p>
                                        </div>
                                        <div class="post-footer">
                                            <span>작성자: John Doe</span>
                                            <span>등록일자: 2024-03-20</span>
                                            <button>답변 작성</button>
                                            <button>내 문의 바로가기</button>

                                        </div>
                                    </div>


                        </div>
                    </section>
                </section>
            </div>


            <!--여기까지 본인 페이지 코드 작성-->
        </div>
    </div>
    <!-- content -->

</div>
<!-- page -->
</div>
<!-- wrapper -->

<th:block layout:fragment="userScript">
    <!--본인 페이지 js 작성-->
    const carousel = new bootstrap.Carousel('#myCarousel')
</th:block>

</body>
</html>
