<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <th:block layout:fragment="userCss">
        <style>
            /* 썸네일 이미지 크기 조정 */
            #imagePreview img {
                max-width: 100px; /* 이미지 최대 너비 */
                max-height: 100px; /* 이미지 최대 높이 */
            }
            #imagePreview2 img {
                max-width: 100px; /* 이미지 최대 너비 */
                max-height: 100px; /* 이미지 최대 높이 */
            }
            .form-group {
                width: 500px;
            }

            .form-groupImg {
                justify-content: center;
            }

            .container2 {
                display: flex;
                justify-content: center;
            }


            .ck-editor__editable {
                height: 400px;
            }

            form {
                max-width: 1000px;
                margin: 40px auto;
                padding: 20px;
                background: #fff;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            .input_wrap {
                margin-bottom: 20px;
            }

            .input_list {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }

            .input_list input[type="text"] {
                padding: 0 10px;
                height: 45px;
                border: 1px solid #ddd;
                border-radius: 4px;
                flex-grow: 1;
            }

            .add_field {
                width: 100%;
                height: 45px;
                padding: 0 15px;
                background-color: #007bff;
                border: none;
                border-radius: 4px;
                color: white;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }

            .add_field:hover {
                background-color: #0056b3;
            }

            .remove_field {
                display: flex;
                align-items: center;
                height: 45px;
                margin-left: 6px;
                padding: 0 15px;
                background: #ff4d4d;
                border-radius: 4px;
                color: #fff;
                cursor: pointer;
                text-decoration: none;
            }

            .remove_field:hover {
                background: #ff3333;
            }
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.snow.css" rel="stylesheet" />

        <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </th:block>



</head>

<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div id="fh5co-header">
            <th:block layout:fragment="headerFragment"></th:block>
        </div>


        <div layout:fragment="content">
            <div class="fh5co-hero" style="height:auto;">
                <!--                <div class="fh5co-overlay"></div>-->
                <section class="container-sm" style=" padding-top: 150px;">

                    <!--여기부터 본인 페이지 코드 작성-->
                    <div class="container2">
                        <form id="myForm" action="/service/serviceRegist" method="post" enctype="multipart/form-data">
                            <div class="form-groupImg col-md-4">

                                <div id="imagePreview"></div>
                                <label for="imageInput">썸네일 등록</label>
                                <input type="file"  name="serviceThumbnail" id="imageInput">

                                <div id="imagePreview2"></div>

                                <label>추가 이미지</label>
                                <input type="file" name="serviceDetailImg" id="detailImg" multiple>
                                <div id="warningMessage" style="display: none; color: red;"></div>

                            </div>



                            <div class="form-group col-md-8">
                                <label>서비스 이름</label>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="serviceTitle"
                                           placeholder="title" name="serviceTitle">
                                    <label for="serviceTitle">Title</label>
                                    <div id="titleErrorMessage" style="display: none; color: red;"></div>
                                </div>
                            </div>


                            <div class="form-group col-md-8">
                                <label>서비스 가격</label>

                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" id="servicePrice"
                                           placeholder="price" name="servicePrice">
                                    <label for="servicePrice">Price</label>
                                    <div id="priceErrorMessage" style="display: none; color: red;"></div>

                                </div>
                            </div>

                            <div class="form-group col-md-8">
                                <label>간단 설명</label>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="serviceExplain"
                                           placeholder="간단 설명" name="serviceExplain">
                                    <label for="serviceExplain">explain</label>
                                    <div id="serviceExplainErrorMessage" style="display: none; color: red;"></div>

                                </div>

                            </div>

                            <div class="form-group col-md-8">
                                <div>
                                    <label for="parentCategory">Parent Category:</label>
                                    <select id="parentCategory" onchange="loadSubcategories(this)">
                                        <option value="">Select a parent category</option>
                                        <!-- Parent categories will be loaded dynamically here -->
                                    </select>
                                </div>
                                <div>
                                    <label for="categoryCode">Subcategory:</label>
                                    <select id="categoryCode" name="categoryCode">
                                        <option value="">Select a subcategory</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group col-md-12">
                                <label>OPTIONS</label>
                                <div class="input_wrap">
                                    <div class="input_list">
                                        <input style="margin-right: 5px" type="text" name="option[0].optionName"
                                               aria-label="optionName" id="optionName" class="form-control" placeholder="옵션명을 입력하세요.">

                                        <input type="number" id="optionPrice" name="option[0].optionPrice" aria-label="optionPrice"
                                               class="form-control" placeholder="추가 금액을 입력하세요.">
                                        <div id="optionNameErrorMessage" style="display: none; color: red;"></div>
                                        <div id="optionPriceErrorMessage" style="display: none; color: red;"></div>

                                    </div>
                                </div>
                                <button class="add_field">추가하기</button>
                            </div>

                            <div class="form-group col-md-12">
                                <div id="editor" style="height: 400px">
                                </div>
                                <input type="hidden" id="serviceContent" name="serviceContent">

                            </div>


                                <button type="submit" name="submitButton">등록</button>

                        </form>


                    </div>
                    <!--여기까지 본인 페이지 코드 작성-->
                </section>
            </div>
        </div>
        <!-- content -->

    </div>
    <!-- page -->
</div>
<!-- wrapper -->

<th:block layout:fragment="userScript">
    <!--본인 페이지 js 작성-->


    <script>





    </script>


    <script>
        function loadSubcategories(parentCategory) {
            const parentId = parentCategory.value;
            const subCategorySelect = document.getElementById('categoryCode');
            console.log(parentId)

            // Clear previous subcategory options
            subCategorySelect.innerHTML = '<option value="">Select a subcategory</option>';

            // Fetch subcategories based on parent category ID
            if (parentId) {
                fetch(`/service/category/subcategories/${parentId}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        data.forEach(subCategory => {
                            const option = document.createElement('option');
                            option.value = subCategory.categoryCode;
                            option.textContent = subCategory.categoryName;
                            subCategorySelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error('Error fetching subcategories:', error));
            }
        }

        // Load parent categories when the page loads
        document.addEventListener('DOMContentLoaded', function () {
            const parentCategorySelect = document.getElementById('parentCategory');

            fetch('/service/category/parentCategory')
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    data.forEach(parentCategory => {
                        const option = document.createElement('option');
                        option.value = parentCategory.categoryCode;
                        option.textContent = parentCategory.categoryName;
                        parentCategorySelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error fetching parent categories:', error));
        });
    </script>
    <script>
        const wrapper = $('.input_wrap'); // 입력 필드를 포함하는 컨테이너 선택
        const addButton = $('.add_field'); // 추가 버튼 선택
        const maxFields = 3; // 최대 입력 필드 수 설정
        let fieldCount = 1; // 현재 입력 필드 수

        // '추가하기' 버튼 클릭 시 이벤트
        addButton.click(function (e) {
            e.preventDefault(); // 페이지 리로드 방지
            if (fieldCount < maxFields) { // 최대 필드 수 체크
                fieldCount++; // 필드 수 증가
                // 새 입력 필드 추가
                const newField = `
            <div class="input_list">
                <input style="margin-right: 5px" type="text" name="option[${fieldCount - 1}].optionName" aria-label="optionName" class="form-control optionName" placeholder="옵션명을 입력하세요.">
                <div class="error-message" style="display: none; color: red;">옵션 이름에 특수 문자를 포함할 수 없습니다.</div>
                <input type="number" name="option[${fieldCount - 1}].optionPrice" aria-label="optionPrice" class="form-control optionPrice" placeholder="추가 금액을 입력하세요.">
              <div class="optionPriceErrorMessage" style="display: none; color: red;">옵션 가격은 1억원을 초과할 수 없습니다.</div>
                <a href="javascript:void(0);" class="remove_field" style="width:100px;   display: flex; justify-content: center">삭제</a>
            </div>
        `;
                wrapper.append(newField);
            }
        });

        // '삭제' 링크 클릭 시 이벤트
        wrapper.on('click', '.remove_field', function (e) {
            e.preventDefault(); // 페이지 리로드 방지
            $(this).closest('.input_list').remove(); // 필드 제거
            fieldCount--; // 필드 수 감소
        });

        // 입력 필드에 대한 유효성 검사
        wrapper.on('input', '.optionName', function() {
            const value = $(this).val(); // 입력된 값 가져오기
            const regex = /^[a-zA-Z0-9ㄱ-ㅎ가-힣\s]*$/; // 특수 문자를 포함하지 않는 정규 표현식

            if (!regex.test(value)) { // 유효성 검사
                $(this).siblings('.error-message').show();
            } else {
                $(this).siblings('.error-message').hide();
            }
        });
        wrapper.on('input', '.optionPrice', function() {
            const value = $(this).val(); // 입력된 값 가져오기
            const maxPrice = 100000000; //

            if (value >= maxPrice) { // 유효성 검사
                $(this).siblings('.optionPriceErrorMessage').show();
            } else {
                $(this).siblings('.optionPriceErrorMessage').hide();
            }
        });


    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>



    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.js"></script>
    <script>
        function quilljsediterInit(){
            var option = {
                modules: {
                    toolbar: [
                        [{header: [1,2,false] }],
                        ['bold', 'italic', 'underline'],
                        ['image', 'code-block'],
                        [{ list: 'ordered' }, { list: 'bullet' }]
                    ]
                },
                placeholder: '내용을 입력해주세요.(이미지는 드래그 앤 드랍으로 넣으세요.)',
                theme: 'snow'
            };

            quill = new Quill('#editor', option);
            quill.on('text-change', function() {
                document.getElementById("serviceContent").value = quill.root.innerHTML;
            });
            quill.getModule('toolbar').addHandler('image', function () {
                selectLocalImage();
            });
        }

        /* 이미지 콜백 함수 */

        function selectLocalImage() {
            const fileInput = document.createElement('input');
            fileInput.setAttribute('type', 'file');
            console.log("input.type " + fileInput.type);

            fileInput.click();

            fileInput.addEventListener("change", function () {  // change 이벤트로 input 값이 바뀌면 실행
                const formData = new FormData();
                const file = fileInput.files[0];
                formData.append('uploadFile', file);

                $.ajax({
                    type: 'post',
                    enctype: 'multipart/form-data',
                    url: '/service/serviceRegist/',
                    data: formData,
                    processData: false,
                    contentType: false,
                    dataType: 'json',
                    success: function (data) {
                        const range = quill.getSelection(); // 사용자가 선택한 에디터 범위
                          data.uploadPath = data.uploadPath.replace(/\\/g, '/');
                        quill.insertEmbed(range.index, 'uploadFile', "/service/serviceRegist?fileName=" + data.uploadPath +"/"+ data.uuid +"_"+ data.fileName);

                    },
                    error: function (err) {
                        console.log(err);
                    }
                });

            });
        }

        quilljsediterInit();

    </script>

    <script>
        document.getElementById("myForm").addEventListener("submit", function(event) {
            event.preventDefault(); // 폼 제출 이벤트 기본 동작 막기

            const regex = /^[a-zA-Z0-9ㄱ-ㅎ가-힣\s]*$/; // 특수 문자를 포함하지 않는 정규 표현식
            const serviceTitle = document.getElementById("serviceTitle").value;
            const optionName = document.getElementById("optionName").value;
            const serviceExplain = document.getElementById("serviceExplain").value;
            const serviceContent = document.getElementById("serviceContent").value;
            const servicePrice = parseInt(document.getElementById("servicePrice").value);
            const optionPrice = parseInt(document.getElementById("optionPrice").value);
            const categoryCode = parseInt(document.getElementById("categoryCode").value);
            const maxPrice = 100000000; // 1억원

// 입력 필드에 대한 유효성 검사
            if (!serviceTitle || !servicePrice || !serviceExplain || !serviceContent || !optionName || !optionPrice || !categoryCode) {
                alert('모든 필드를 입력하세요.');
                event.preventDefault(); // 폼 제출을 막습니다.
            } else if (isNaN(servicePrice) || isNaN(optionPrice)) {
                alert('가격은 숫자로 입력하세요.');
                event.preventDefault(); // 폼 제출을 막습니다.
            } else if (!regex.test(serviceTitle) || !regex.test(optionName) || !regex.test(serviceExplain)) {
                alert('특수 문자를 포함할 수 없습니다.');
                event.preventDefault(); // 폼 제출을 막습니다.
            } else if (servicePrice >= maxPrice) {
                // 가격이 1억원 이상인 경우 오류 메시지 표시
                alert('서비스 가격은 1억원을 초과할 수 없습니다.');
                event.preventDefault(); // 폼 제출을 막습니다.
            } else if (optionPrice >= maxPrice) {
                // 가격이 1억원 이상인 경우 오류 메시지 표시
                alert('옵션 가격은 1억원을 초과할 수 없습니다.');
                event.preventDefault(); // 폼 제출을 막습니다.
            } else {
                // 모든 유효성 검사를 통과한 경우 폼 제출
                document.getElementById("myForm").submit();
            }
        })

    </script>
    <script>
        // 썸네일 이미지 업로드 입력 필드
        const thumbnailInput = document.getElementById('imageInput');
        // 추가 이미지 업로드 입력 필드
        const detailImageInput = document.getElementById('detailImg');
        // 이미지 미리보기를 표시할 요소
        const imagePreview = document.getElementById('imagePreview');
        const imagePreview2 = document.getElementById('imagePreview2');

        // 썸네일 이미지 업로드 입력 필드에서 변경 이벤트 감지
        thumbnailInput.addEventListener('change', function(event) {
            // 선택된 파일이 있는지 확인
            if (thumbnailInput.files && thumbnailInput.files[0]) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    // 이미지를 미리보기에 표시
                    const imgElement = document.createElement('img');
                    imgElement.setAttribute('src', e.target.result);
                    imagePreview.innerHTML = ''; // 이미지 미리보기 초기화
                    imagePreview.appendChild(imgElement);
                };

                // 선택된 파일 읽기
                reader.readAsDataURL(thumbnailInput.files[0]);
            }
        });

        // 추가 이미지 업로드 입력 필드에서 변경 이벤트 감지
        detailImageInput.addEventListener('change', function(event) {
            // 선택된 파일이 있는지 확인
            if (detailImageInput.files) {
                imagePreview2.innerHTML = ''; // 이미지 미리보기 초기화

                // 선택된 모든 파일에 대해 루프를 실행하여 이미지를 미리보기에 표시
                for (let i = 0; i < detailImageInput.files.length; i++) {
                    const reader = new FileReader();
                    reader.onload = function(e) {
                        const imgElement = document.createElement('img');
                        imgElement.setAttribute('src', e.target.result);
                        imagePreview2.appendChild(imgElement);
                    };
                    // 선택된 파일 읽기
                    reader.readAsDataURL(detailImageInput.files[i]);
                }
            }
        });


    </script>

    <script>


        // 등록 버튼
        const submitButton = document.getElementsByName('submitButton')[0];
        const maxFiles = 5; // 최대 5개 파일

        // 등록 버튼에 클릭 이벤트 리스너 추가
        submitButton.addEventListener('click', function(event) {

            // 썸네일 이미지 업로드 입력 필드
            const thumbnailInput = document.getElementById('imageInput');
            // 추가 이미지 업로드 입력 필드
            const detailImageInput = document.getElementById('detailImg');
            // 경고 메시지를 표시할 요소
            const warningMessage = document.getElementById('warningMessage');
            // 추가 이미지 업로드 입력 필드에서 선택된 파일 수
            const detailFilesCount = detailImageInput.files.length;

            // 선택된 파일 수가 최대 파일 수를 초과하는 경우
            if (detailFilesCount > maxFiles) {
                alert(`추가 이미지는 최대 ${maxFiles}개까지 선택할 수 있습니다.`);
                // 등록 작업을 중단
                event.preventDefault();
            }
            // 선택된 파일이 없으면 경고 메시지 표시
            if (!thumbnailInput.files.length && !detailImageInput.files.length) {
                warningMessage.innerText = '이미지를 선택하세요.';
                warningMessage.style.display = 'block';
                // 등록 작업을 중단
                event.preventDefault();
            } else {
                // 선택된 파일이 있는 경우 경고 메시지 숨기기
                warningMessage.style.display = 'none';
            }
        });

    </script>
</th:block>


</body>
</html>
