<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <th:block layout:fragment="userCss">
    </th:block>
    <style>


        .buttons {
            text-align: Right;
            margin-bottom: 20px;
        }

        button {
            padding: 10px 20px;
            margin-right: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }


        .post-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #priceTag {
            margin-right: 12px;
        }

        .infoTab {
            margin-left: 15px;
        }

        .post-actions button {
            margin-right: 10px;
        }

        .post-content {
            margin-top: 10px;
        }


        hr {
            color: black;
            opacity: 100;
        }

        .price {
            color: #003363;
            font-size: 40px;
        }

        .priceBox {
            display: flex;
            justify-content: space-between;
        }

        .heart {
            font-size: 30px;
            color: red;
        }

        .order {
            font-size: 20px;
            color: white;
            width: 100%;
            height: 60px;
            border-color: white;
            border-radius: 20px;
            background-color: #003363;;
        }

        .orderBox {
            display: flex;

            justify-content: center;

        }

        .profileCard p {
            color: black;
        }

        .profile img {
            width: 100px;
            height: 100px;
        }

        .breadcrumb li a {
            color: #003363;
        }

        .cardImg {
            width: 200px;
            height: auto;
        }

        .choice {
            color: black;
            margin-right: 10px;
        }

        .reviewImg {
            width: 300px;
            height: 200px;
        }

        .infoRow {
            margin-top: -100px;
        }

    </style>
</head>

<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div id="fh5co-header">
            <th:block layout:fragment="headerFragment"></th:block>
        </div>


        <div layout:fragment="content">
            <div class="fh5co-hero" style="height: auto;">
                <!--                <div class="fh5co-overlay"></div>-->
                <section class="container-sm" style="padding-top: 150px;">

                    <!--여기부터 본인 페이지 코드 작성-->

                    <section class="py-5">

                        <div class="container px-4 px-lg-5 my-5">
                            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">소 카테테고리 제목</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"><a href="#"><b>소 카테고리 내용</b></a>
                                    </li>
                                </ol>
                            </nav>
                            <div class="row gx-4 gx-lg-5 align-items-center">
                                <div class="col-md-6">
                                    <div id="carouselExampleIndicators" class="carousel carousel-dark slide">
                                        <div class="carousel-indicators">
                                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                                    data-bs-slide-to="0" class="active" aria-current="true"
                                                    aria-label="Slide 1"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                                    data-bs-slide-to="1" aria-label="Slide 2"></button>
                                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                                    data-bs-slide-to="2" aria-label="Slide 3"></button>
                                        </div>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="/images/설치_2.png" class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="/images/main_icon1.png" class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="/images/설치_2.png" class="d-block w-100" alt="...">
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button"
                                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>

                                </div>
                                <div class="col-md-6" >
                                    <div class="card shadow-sm" style="width: 100%; height: auto">
                                        <div class="card-body" style="width: 100%" >
                                            <h1 class="infoTab display-5 mt-3" th:text="${serviceDetailList.serviceTitle}">서비스 이름
                                                어쩌구</h1>
                                            <p class="infoTab lead border-top" th:text="${serviceDetailList.serviceExplain}">서비스
                                                설명</p>
                                            <div class="infoTab cardText mb-3">
                                                <span class="badge bg-primary">하위 카테고리</span>
                                                <span class="badge bg-primary">상위 카테고리</span>
                                            </div>
                                            <div class="priceBox fs-5 mb-5 display-5 ">
                                                <span class="infoTab heart">♥️</span>
                                                <span id="priceTag" class="price" th:text="${serviceDetailList.servicePrice}"><b>31,600~</b></span>
                                            </div>
                                            <div class="orderBox">
                                                <button class="order btn-block" type="button">주문하기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- 서비스 설명 탭 -->
                        <div class="row">
                            <div class="col-md-6">
                                <nav class="nav nav-tabs">
                                    <a class="nav-link active" aria-current="page" href="#serviceContext">서비스 설명</a>
                                    <a class="nav-link" href="#options">옵션 정보</a>
                                    <a class="nav-link" href="#reviews">리뷰</a>
                                    <a class="nav-link" href="#cs">문의</a>
                                </nav>
                            </div>
                            <div class="profileCard col-md-2">
                                <img src="/images/main_icon1.png" class="cardImg card-img-top p-3 img-thumbnail"
                                     alt="...">
                            </div>
                            <div class="profileCard col-md-4 border p-5 shadow-sm"
                            >
                                <div class="Card">
                                    <div class="card-body">
                                        <p class="card-text border-bottom " th:inline="text">
                                            <b>도비:</b> [[${serviceDetailList.dobby.dobNickName}]]</p>
                                        <p class="card-text border-bottom "><b>영업일</b> : 연중무휴</p>
                                        <p class="card-text border-bottom" th:inline="text"><b>지역</b> :
                                            [[${serviceDetailList.dobby.dobArea}]]</p>
                                        <p class="card-text font-weight-bold"
                                           th:text="${serviceDetailList.dobby.dobContent}"> </p>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="infoRow row">
                            <h1>Info</h1>
                            <div class="col-md-6" id="serviceContext" >
                                <p th:text="${serviceDetailList.serviceContent}">🔥구매 전 필독사항🔥

                                    ✔️핸드메이드 특성상 눈,코,입,귀 등
                                    위치나 모양이 조금씩 다를 수 있습니다.

                                    ✔️색상은 보시는 화면에따라
                                    실제와 차이가 있을 수 있습니다.

                                    ✔️기종과 옵션을 정확하게 선택해주세요.
                                    (주문제작 상품으로 잘못 선택 시
                                    교환/환불이 어려울 수 있습니다)

                                    ✔️추가 커스터마이징 및 색상문의 등
                                    다른 요청사항이나 궁금하신점은 메시지 주세요.</p>
                                <hr>

                            </div>
                        </div>

                        <h1>Options</h1>
                        <div class="row">
                            <div class="col-md-6" id="options">
                                <div class="bg-body rounded shadow-sm">
                                    <h6 class="border-bottom pb-2 mb-0">옵션</h6>
                                    <div class="d-flex text-body-secondary pt-3">
                                        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded"  width="20"
                                             height="20" xmlns="http://www.w3.org/2000/svg" role="img"
                                             aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice"
                                             focusable="false"><title>Placeholder</title>
                                            <rect width="100%" height="100%" fill="#007bff"></rect>
                                            <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                                        </svg>
                                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                        <label for="option">옵션 선택:</label>
                                        <select name="option" id="option" th:field="*{serviceOptions}">
                                            <!-- Thymeleaf 반복문을 통해 옵션 목록 표시 -->
                                            <option value="none">선택안함</option>
                                            <option th:each="opt : ${serviceOptions}" th:value="${opt.optionPrice}" th:text="${opt.optionName} + ' - 추가 금액: ' + ${opt.optionPrice}"></option>
                                        </select>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <h1>Reviews</h1>
                        <div class="row">
                            <div class="col-md-2" id="reviews">
                                <img src="/images/main_icon1.png" class="reviewImg img-thumbnail rounded "
                                     alt="...">
                            </div>

                            <div class="col-md-3" th:each="reviews:${reviews}">
                                <p id="userName" th:text="${reviews.user.userNickname}">
                                    사용자1234
                                </p>
                                <p id="reviewDate" th:text="${reviews.reviewCreated}">
                                    2024-01-01
                                </p>
                                <p id="reviewRate" th:text="${reviews.reviewGrade}">
                                    ⭐️⭐️⭐️⭐️⭐️

                                </p>

                                <p id="reviewContext" th:text="${reviews.reviewContent}">
                                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                                </p>
                                <p>options : 2132134</p>
                            </div>
                            <hr>
                        </div>
                        <div class="container">
                            <h1>CS</h1>
                            <div class="post-list" id="cs">
                                <div class="post-item" th:each="cs:${cs}">
                                    <div class="post-header">
                                        <span th:text="${cs.csCode}">번호: 1</span>
                                        <span>답변여부: 예</span>
                                        <div class="dropdown">
                                            <button th:text="${cs.csType}" class="btn btn-secondary dropdown-toggle"
                                                    type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                문의 유형
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">서비스 상세 문의</a></li>
                                                <li><a class="dropdown-item" href="#">환불/취소 문의</a></li>
                                                <li><a class="dropdown-item" href="#">일정 문의</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="post-content">
                                        <p th:text="${cs.csContent}">내용: 상품 관련 문의입니다.</p>
                                    </div>
                                    <div class="post-footer">
                                        <span th:text="${cs.user.userNickname}">작성자: John Doe</span>
                                        <span th:text="${cs.csCreated}">등록일자: 2024-03-20</span>
                                        <button>답변 작성</button>
                                        <button>내 문의 바로가기</button>

                                    </div>
                                </div>


                            </div>
                        </div>

        </section>
        </section>
    </div>


    <!--여기까지 본인 페이지 코드 작성-->
</div>
</div>
<!-- content -->

</div>
<!-- page -->
</div>
<!-- wrapper -->

<th:block layout:fragment="userScript">
    <!--본인 페이지 js 작성-->
    <!-- Main JS -->
    <script src="/js/main.js"></script>
    const carousel = new bootstrap.Carousel('#myCarousel')
</th:block>

</body>
</html>
