<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin}">

<head>
    <th:block layout:fragment="userCss">
        <style>
            img {
                width: 100px;
                height: 100px;
            }
        </style>
    </th:block>
</head>

<body>
<div id="fh5co-header">
    <th:block layout:fragment="headerFragment"></th:block>
</div>


<div layout:fragment="content">
    <div class="fh5co-hero" style="height: auto">
        <!--                <div class="fh5co-overlay"></div>-->
        <section class="container-sm" style="padding-top: 150px;">

            <div class=" col-md-10 col-sm-9 col-xs-8">
                <p class="fs-5 pt-3 px-2">
                    <a href="/admin/dashboard/dashboard" class="text-black">서비스관리</a> 〉 &nbsp;
                    <a href="" class="text-black fw-bolder">전체서비스조회</a> &nbsp;
                </p>

                <div class="container-fluid border border-2 rounded p-5">

                    <div class="table-responsive">
                        <table class="table table-hover align-middle">
                            <thead>
                            <tr>
                                <th colspan="2" scope="col">#</th>
                                <th scope="col">아이디</th>
                                <th scope="col">제목</th>
                                <th scope="col">카테고리</th>
                                <th scope="col">등록일</th>
                                <th scope="col">관리</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="service : ${serviceList}"
                                th:onclick="|location.href='/serviceInfo/${service.serviceCode}'|">
                                <td th:text="${service.serviceCode}" class="align-middle"></td>
                                <td> <img th:src="@{${service.thumbnailUrl}}" alt="thumbnail" class="align-middle img-thumbnail"/></td>
                                <td th:text="${service.dobCode}" class="align-middle"></td>
                                <td th:text="${service.serviceTitle}" class="align-middle"></td>
                                <td th:text="${service.categoryCode}" class="align-middle"></td>
                                <td th:text="${#dates.format(service.serviceCreated, 'yy.MM.dd')}"
                                    class="align-middle"></td>
                                <td>
                                    <button type="button" class="dBtn btn btn-sm mb-2" style="background-color: #e5e5e5;">숨김
                                    </button>
                                    <br>
                                    <button type="button" class="dBtn btn btn-sm" style="background-color:#ffeaea;">삭제</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--여기까지 본인 페이지 코드 작성-->
        </section>
    </div>
</div>
<!-- content -->


<th:block layout:fragment="userScript">
    <!-- main js -->
    <script src="/js/main.js"></script>
</th:block>

</body>
</html>
