<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <th:block layout:fragment="userCss">
        <style>
            .breadcrumb { background: none; display:table; margin: 0 auto;}
            .breadcrumb a { color: black; }
            .service-img { max-width: 100%; }
        </style>
        <link rel="stylesheet" href="/css/rome.css">
    </th:block>
</head>

<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div id="fh5co-header">
            <th:block layout:fragment="headerFragment"></th:block>
        </div>

        <div layout:fragment="content">
            <div class="fh5co-hero" style="height: auto;">
<!--                <div class="fh5co-overlay"></div>-->
                <section class="container-sm" style="padding-top:150px;">
                    <div class="container-fluid">

                        <div class="col-lg-8" style="float:none; margin: 0 auto;">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#" th:text="${ service.category.refCategoryName }">상위 카테고리</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        <a href="#" th:text="${ service.category.categoryName }">하위 카테고리</a>
                                    </li>
                                </ol>
                            </nav>
                            <h2 th:text="${ service.serviceTitle }" class="text-center" ></h2>
                            <img th:src="${ service.imageList[0].imgUrl }" class="rounded center-block service-img" />

                            <p class="text-left">■ 예약 날짜와 시간을 선택해주세요.</p>

                            <div class="row justify-content-center">
                                <div class="col text-center">
                                    <form action="/order/payment">
                                        <input type="hidden" name="serviceCode" id="serviceCode" th:value="${ service.serviceCode }"/>
                                        <div class="col">
                                            <div id="inline_cal"></div>
                                        </div>
                                        <input type="hidden" name="reserveDatetime" id="reserveDatetime"/>

                                        <p class="text-left">
                                            ■ 옵션을 선택해주세요. (선택)
                                        </p>
                                        <div class="option-group">
                                            <span th:each="option : ${ service.optionList }" class="inputGroup">
                                                <input th:id="'radio'+${option.optionCode}" name="optionCode" th:value="${option.optionCode}" type="radio"/>
                                                <label th:for="'radio'+${option.optionCode}" th:text="${ option.optionName }"></label>
                                            </span>
                                        </div>

                                        <button class="btn btn-primary" type="submit">다음</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--여기까지 본인 페이지 코드 작성-->
                </section>
            </div>
        </div>
        <!-- content -->

    </div>
    <!-- page -->
</div>
<!-- wrapper -->

<th:block layout:fragment="userScript">

    <!--본인 페이지 js 작성-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/rome.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>

    <script th:inline="javascript">
        const $disabled = [[${disabledDates}]];
        const $workday = [[${dobWeekday}]];

        let today = new Date();
        let datePicker = rome(inline_cal, {
            time: false,
            initialValue: null,
            dateValidator: function(d) {
                let weekday = moment(d).day();
                return $workday.includes(weekday)
                    && rome.val.except($disabled)(d)
                    && rome.val.after(today)(d);
            }
        });
        datePicker.on('data', () => {
            document.getElementById("reserveDatetime").value = datePicker.getDateString("YYYY-MM-DD");
        });
    </script>
</th:block>

</body>
</html>