<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <th:block layout:fragment="userCss">
    </th:block>
</head>

<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div id="fh5co-header">
            <th:block layout:fragment="headerFragment"></th:block>
        </div>


        <div layout:fragment="content">
            <div class="fh5co-hero" style="height: auto;">
<!--                <div class="fh5co-overlay"></div>-->
                <section class="container-sm" style="padding-top: 150px;">

                    <!--여기부터 본인 페이지 코드 작성-->

                    <div class="row">
                        <div class="col-lg-8" style="margin: 0 auto">
                            <div class="text-center">
                                <h1>주문이 완료되었습니다.</h1>
                                <h3>주문번호 : ㅇㅇㅇ</h3>
                            </div>
                            <hr>
                            <h3>결제정보</h3>
                            <table class="table">
                                <tr>
                                    <th>헤더</th>
                                    <td>헤더2</td>
                                </tr>
                                <tr class="table-active">
                                    <th>내용</th>
                                    <td>내용2</td>
                                </tr>
                            </table>
                            <hr>
                            <h3>주문정보</h3>
                            <table class="table">
                                <tr>
                                    <th>헤더</th>
                                    <td>헤더2</td>
                                </tr>
                                <tr class="table-active">
                                    <th>내용</th>
                                    <td>내용2</td>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <!--여기까지 본인 페이지 코드 작성-->
                </section>
            </div>
        </div>
        <!-- content -->

    </div>
    <!-- page -->
</div>
<!-- wrapper -->

<th:block layout:fragment="userScript">
    <!--본인 페이지 js 작성-->
</th:block>

</body>
</html>
