<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.trillion.yamuzip.dobby.mypage.model.dao.ModifyMapper">


    <resultMap id="modifyResultMap" type="team.trillion.yamuzip.dobby.mypage.model.dto.ModifyDTO">
        <id property="dobCode" column="dob_code"/>
        <collection property="workdayList" resultMap="workdayResultMap"/>
    </resultMap>

    <resultMap id="workdayResultMap" type="team.trillion.yamuzip.dobby.mypage.model.dto.WorkdayDTO">
        <id column="{dayWeek=day_week, dobCode=dob_code}"/>
    </resultMap>


    <select id="getDobby" resultMap="modifyResultMap">

        SELECT
            a.user_code,
            b.apply_career,
            b.apply_status,
            c.dob_code,
            c.dob_nickname,
            c.dob_img,
            c.dob_content,
            c.dob_area,
            c.dob_career_days,
            d.day_week,
            d.dob_code
        FROM
            tbl_user a
                LEFT JOIN
            tbl_dob_apply b on(a.user_code = b.user_code)
                LEFT JOIN
            tbl_dobby c on(a.user_code = c.user_code)
                LEFT JOIN
            tbl_workday d on(c.dob_code = d.dob_code)
        WHERE
            a.user_code = #{userCode}
          AND
            a.auth = 'dobby'
    </select>


    <update id="modifyDobby">
        UPDATE
            tbl_dobby a
            JOIN
            tbl_dob_apply b ON a.user_code = b.user_code
        SET
            <if test="dobImg != null">
                a.dob_img = #{dobImg},
            </if>
            a.dob_nickname = #{dobNickname},
            a.dob_content = #{dobContent},
            a.dob_area = #{dobArea},
            a.dob_career_days = #{dobCareerDays},
            b.apply_career = #{applyCareer}
        WHERE
            a.user_code = #{userCode};
    </update>


   <insert id="registWorkday">
       INSERT INTO
            tbl_workday(dob_code, day_week)
       VALUES
            (#{dobCode}, #{dayWeek})
   </insert>

    <delete id="deleteWorkday">
        DELETE FROM
            tbl_workday
        WHERE
            dob_code = #{dobCode}
    </delete>

<!--    <delete id="deleteWorkday" parameterType="map">-->
<!--        DELETE FROM-->
<!--        tbl_workday-->
<!--        WHERE-->
<!--        dob_code = #{dobCode}-->
<!--        AND-->
<!--        day_week = #{dayWeek}-->
<!--    </delete>-->

</mapper>