<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="contentFragment">
<!--            &lt;!&ndash;                <div class="fh5co-overlay"></div>&ndash;&gt;-->
<!--            <section class="container-sm" style="padding-top: 150px">-->
<!--        &lt;!&ndash;Content Section&ndash;&gt;-->
<!--        <div class="col-md-2 col-sm-3 col-xs-4 flex-shrink-0 p-3">-->

<!--            <ul class="sideBar list-unstyled rounded border border-dark-subtle bg-Emphasis p-5">-->
<!--                <div class="mb-4"><p class="h5 mb-1 fs-4 fw-bord text-dark">회원 관리</p>-->
<!--                    <div>-->
<!--                        <ul class="btn-toggle-nav list-unstyled fw-normal small">-->
<!--                            <li><a href="/admin/user/list" class="text-body-tertiary link-primary link-body-emphasis d-inline-flex text-decoration-none rounded">회원 관리</a></li>-->
<!--                            <li><a href="/admin/dobby/list" class="text-body-tertiary link-body-emphasis d-inline-flex text-decoration-none rounded">도비 관리</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="mb-4"><p class="h5 mb-1 fs-4 fw-bord text-dark">서비스 관리</p>-->
<!--                    <div>-->
<!--                        <ul class="btn-toggle-nav list-unstyled fw-normal small">-->
<!--                            <li><a href="/admin/service/list" class="text-body-tertiary link-body-emphasis d-inline-flex text-decoration-none rounded">전체 서비스 조회</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="mb-4"><p class="h5 mb-1 fs-4 fw-bord text-dark">정산 관리</p>-->
<!--                    <div>-->
<!--                        <ul class="btn-toggle-nav list-unstyled fw-normal small">-->
<!--                            <li><a href="admin/order/list" class="text-body-tertiary link-body-emphasis d-inline-flex text-decoration-none rounded">전체 주문내역 조회</a></li>-->
<!--                            <li><a href="admin/calc/monthly" class="text-body-tertiary link-body-emphasis d-inline-flex text-decoration-none rounded">월별정산통계</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="mb-4"><p class="h5 mb-1 fs-4 fw-bord text-dark">문의 관리</p>-->
<!--                    <div>-->
<!--                        <ul class="btn-toggle-nav list-unstyled fw-normal small">-->
<!--                            <li><a href="/admin/cs/list" class="text-body-tertiary link-body-emphasis d-inline-flex text-decoration-none rounded">전체 문의 조회</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="mb-4"><p class="h5 mb-1 fs-4 fw-bord text-dark">카테고리 관리</p>-->
<!--                    <div>-->
<!--                        <ul class="btn-toggle-nav list-unstyled fw-normal small">-->
<!--                            <li><a href="/admin/category/select" class="text-body-tertiary link-body-emphasis d-inline-flex text-decoration-none rounded">카테고리 관리</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->


<!--            </ul>-->
<!--        </div>-->
<!--            </section>-->
<!--        </div>-->
    <div layout:fragment="content">
<!--        <h1>test</h1>-->
    </div>

    <div layout:fragment="contentModal">
        <!--Modal Section-->
    </div>

</div>
</html>