<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="/layout/fragments/head :: headFragment"></th:block>

<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <!-- header fragment -->
        <div th:block th:replace="~{layout/fragments/header::headerFragment}"></div>

        <div th:block th:replace="~{layout/fragments/content::contentFragment}"></div>

        <!-- footer fragment -->
        <div th:block th:replace="~{layout/fragments/footer::footerFragment}"></div>

        <!-- script fragment -->
        <div th:replace="~{layout/fragments/script::scriptFragment}"></div>

        <!-- 사용자 스크립트 영역 -->
        <th:block layout:fragment="userScript"></th:block>
    </div>
</div>
</body>
</html>