<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="/layout/mypage/head :: headFragment"></th:block>

<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <!-- header fragment -->
        <div th:block th:replace="~{layout/mypage/header::headerFragment}"></div>

        <!-- profile fragment -->
        <div th:block th:replace="~{layout/mypage/profile::profileFragment}"></div>

        <!-- sideBar fragment 마지막에 도전 -->
<!--        <div th:block th:replace="~{layout/mypage/sideBar::sideBarFragment}"></div>-->

        <div th:block th:replace="~{layout/mypage/content::contentFragment}"></div>

        <!-- footer fragment -->
        <div th:block th:replace="~{layout/mypage/footer::footerFragment}"></div>

        <!-- script fragment -->
        <div th:replace="~{layout/mypage/script::scriptFragment}"></div>

        <!-- 사용자 스크립트 영역 -->
        <th:block layout:fragment="userScript"></th:block>
<!--        &lt;!&ndash; user profile &ndash;&gt;-->

    </div>
</div>
</body>
</html>