# spring datasource config
spring:
#  mail:
#    host: smtp.naver.com
#    port: 465
#    username: qkrquddjs9752@naver.com
#    password: dlwldms1!@
#    properties:
#      mail.smtp.auth : true
#      mail.smtp.ssl.enable: true
#      mail.smtp.ssl.trust: smtp.naver.com
#      mail.smtp.starttls.enable: true


  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost/yamuzip
    username: ohgiraffers
    password: ohgiraffers

  # spring thymeleaf
  thymeleaf:
    prefix: classpath:templates/
    suffix: .html
    cache: false

  # file upload config
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
      location: C:/00/10_spring/04_spring-comprehensive/ch01-comprehensive

# Mybatis config
mybatis:
  mapper-locations: mappers/**/*.xml
  configuration:
    map-underscore-to-camel-case: true
    auto-mapping-behavior: full
##server:
##  port: 9000
#  위에 두줄만 지워라


