<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <th:block layout:fragment="userCss">
        <style>
            h1, h2, h3 { font-weight: 900; color: #003363; }
            h4 { margin-bottom: 15px; font-weight: 700; color: #003363; }

            .notice-table { border-top: 3px solid black; border-bottom: 2px solid black; margin-top: 5px;}
            .notice-table thead { height: 55px; border-bottom: 2px solid; }
            .notice-table thead tr th { vertical-align: middle; text-align: center; }
            .notice-table tbody tr td { vertical-align: middle; text-align: center; border-bottom-width: 0;}

            .hide { display: none; }
            .new { padding: 3px 5px; background-color: #003363; border-radius: 5px;
                font-size: 0.5em; font-weight: 900; vertical-align: middle; color: white; }

            #paging button { border: unset; background-color: unset;}
        </style>
    </th:block>
</head>

<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div id="fh5co-header">
            <th:block layout:fragment="headerFragment"></th:block>
        </div>


        <div layout:fragment="content">
                <section class="container-sm" style="padding-top: 150px; height: auto; padding-bottom: 100px;">


                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-10" style="float:none; margin: 0 auto;">
                                <h1 class="text-center">공지사항</h1>
                                <th:block sec:authorize="hasAuthority('ADMIN')">
                                    <div class="text-right">
                                        <button type="button" class="btn btn-secondary btn-sm admin-btn">관리</button>
                                        <button type="button" class="btn btn-primary btn-sm" onclick="location.href='/notice/regist'">글쓰기</button>
                                    </div>
                                </th:block>
                                <table class="table notice-table">
                                    <thead>
                                    <tr class="align-middle">
                                        <th th:width="40px" class="check-column hide">
                                            <input type="checkbox" id="allCheckBox" onclick="allChecked()">
                                        </th>
                                        <th th:width="80px">번호</th>
                                        <th>제목</th>
                                        <th th:width="150px">작성자</th>
                                        <th th:width="150px">작성일자</th>
                                        <th th:width="80px">조회수</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="fixed-list table-secondary" th:each="notice : ${fixedList}">
                                        <td class="check-column hide">
                                            <input type="checkbox" name="chk" class="chk"
                                                   th:data-notice-code="${notice.noticeCode}" onclick="chkClicked()">
                                        </td>
                                        <td th:text="${notice.noticeCode}"></td>
                                        <td class="title" style="text-align:left; cursor: pointer;"
                                            th:onclick="|location.href='/notice/detail?noticeCode=${notice.noticeCode}'|">
                                            <th:block th:text="${notice.noticeTitle}"></th:block>
                                            <span th:if="${notice.noticeCreated.isAfter(#temporals.createNow().minusHours(48))}"
                                                      th:text="N" class="new">
                                            </span>
                                        </td>
                                        <td th:text="${notice.userNickname}"></td>
                                        <td th:text="${notice.noticeCreatedString}"></td>
                                        <td th:text="${notice.noticeHits}"></td>
                                    </tr>
                                    <tr class="notice-list" th:each="notice : ${noticeList}">
                                        <td class="check-column hide">
                                            <input type="checkbox" name="chk" class="chk"
                                                   th:data-notice-code="${notice.noticeCode}" onclick="chkClicked()">
                                        </td>
                                        <td th:text="${notice.noticeCode}"></td>
                                        <td class="title" style="text-align:left; cursor: pointer;"
                                            th:onclick="|location.href='/notice/detail?noticeCode=${notice.noticeCode}'|">
                                            <th:block th:text="${notice.noticeTitle}"></th:block>
                                            <span th:if="${notice.noticeCreated.isAfter(#temporals.createNow().minusHours(48))}"
                                                      th:text="N" class="new">
                                            </span>
                                        </td>
                                        <td th:text="${notice.userNickname}"></td>
                                        <td th:text="${notice.noticeCreatedString}"></td>
                                        <td th:text="${notice.noticeHits}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <th:block sec:authorize="hasAuthority('ADMIN')">
                                    <div class="text-left">
                                        <button type="button" class="btn btn-secondary btn-sm delete-btn hide">삭제</button>
                                    </div>
                                </th:block>
                            </div>
                        </div>

                        <div id="paging" align="center" style="margin-top: 20px;">
                            <th:block th:if="${ paging.searchCondition == null  || paging.searchValue == null }">
                                <!-- 맨 앞으로 이동 -->
                                <button th:onclick="'location.href=\'/notice?page=1\''">&lt;&lt;</button>

                                <!-- 이전 페이지로 이동 -->
                                <button th:onclick="'location.href=\'/notice?page=' + @{${paging.page - 1}} + '\''"
                                        th:disabled="${ paging.page <= 1 }">&lt;
                                </button>

                                <!-- 숫자 버튼 -->
                                <th:block th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
                                    <button th:onclick="'location.href=\'/notice?page=' + @{${page}} + '\''"
                                            th:text="${ page }" th:disabled="${ paging.page eq page }">
                                    </button>
                                </th:block>

                                <!-- 다음 페이지로 이동 -->
                                <button th:onclick="'location.href=\'/notice?page=' + @{${paging.page + 1}} + '\''"
                                        th:disabled="${ paging.page >= paging.maxPage }">>
                                </button>

                                <!-- 맨 끝으로 이동 -->
                                <button th:onclick="'location.href=\'/notice?page=' + @{${paging.maxPage}} + '\''">
                                    >>
                                </button>
                            </th:block>
                        </div>
                    </div>

                </section>
        </div>
        <!-- content -->

    </div>
    <!-- page -->
</div>
<!-- wrapper -->

<th:block layout:fragment="userScript">
<!--본인 페이지 js 작성-->
    <script th:inline="javascript">
        const $adminBtn = document.querySelector(".admin-btn");
        const $deleteBtn = document.querySelector(".delete-btn");
        const $checkColumn = document.getElementsByClassName("check-column");

        $adminBtn.addEventListener("click", function () {
            for(let i = 0; i < $checkColumn.length; i++) {
                $checkColumn[i].classList.toggle("hide");
            }
            $deleteBtn.classList.toggle("hide");
        });
    </script>

    <script th:inline="javascript">
        function allChecked(target){
            const checkbox = document.getElementById('allCheckBox');
            const is_checked = checkbox.checked;

            if(is_checked){
                chkAllChecked()
            }
            else{
                chkAllUnChecked()
            }
        }

        function chkClicked(){
            //체크박스 전체개수
            const allCount = document.querySelectorAll(".chk").length;

            //체크된 체크박스 전체개수
            const query = 'input[name="chk"]:checked'
            const selectedElements = document.querySelectorAll(query);
            const selectedElementsCnt = selectedElements.length;

            //체크박스 전체개수와 체크된 체크박스 전체개수가 같으면 전체 체크박스 체크
            document.getElementById('allCheckBox').checked = allCount === selectedElementsCnt;
        }

        //체크박스 전체 체크
        function chkAllChecked(){
            document.querySelectorAll(".chk").forEach(function(v) {
                v.checked = true;
            });
        }
        //체크박스 전체 체크 해제
        function chkAllUnChecked(){
            document.querySelectorAll(".chk").forEach(function(v) {
                v.checked = false;
            });
        }
    </script>

    <script th:inline="javascript">
        $deleteBtn.addEventListener("click", function () {
            const query = 'input[name="chk"]:checked'
            const selectedElements = document.querySelectorAll(query);

            const noticeCodesArray = [];
            selectedElements.forEach(element => {
                noticeCodesArray.push(element.dataset.noticeCode);
            });
            console.log(noticeCodesArray);

            fetch('/notice/deleteNotices', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(noticeCodesArray),
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        })
    </script>
</th:block>

</body>
</html>
