<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--footerFragment 선언-->
<div th:fragment="footerFragment">
  <footer>
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <p class="fh5co-social-icons">
              <a href="https://github.com/team-trillion"><i class="icon-github2"></i></a>
            </p>
            <p>Copyright ©Team Trillion  All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
</html>