<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin}">

<head>
    <th:block layout:fragment="userCss">
        <style>
            .dBtn {
                border: solid 1px #b0b0b0;
            }
            #applyModal {
                z-index: 99999999;
            }
            .modal-body > div{display: none}
            .modal-body > div.show{display: block}
        </style>
    </th:block>
</head>

<body>
<div id="fh5co-header">
    <th:block layout:fragment="headerFragment"></th:block>
</div>


<div layout:fragment="content">
    <div class="fh5co-hero" style="height: auto">
        <!--                <div class="fh5co-overlay"></div>-->
        <section class="container-sm" style="padding-top: 150px;">

            <div class="dashboardText col-md-10 col-sm-9 col-xs-8">
                <p class="fs-5 pt-3 px-2">
                    <a href="#" class="text-black">관리자페이지</a> 〉 &nbsp;
                    <a href="#" class="text-black">회원관리</a> 〉 &nbsp;
                    <a href="#" class="text-black fw-bolder">신규도비신청</a> &nbsp;
                </p>

                <div class="container-fluid border border-2 rounded p-5">

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">아이디</th>
                        <th scope="col">이름</th>
                        <th scope="col">전화번호</th>
                        <th scope="col">전문분야</th>
                        <th scope="col">신청일</th>
                        <th scope="col">신청서</th>
                        <th scope="col">관리</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="apply : ${applyList}">
                        <!-- th:onclick="|location.href='/apply/detail?applyCode=${apply.applyCode}'|"> -->
                        <td th:text="${apply.applyCode}" class="align-middle"></td>
                        <td th:text="${apply.userId}" class="align-middle"></td>
                        <td th:text="${apply.userName}" class="align-middle"></td>
                        <td th:text="${apply.phone}" class="align-middle"></td>
                        <td th:text="${apply.applyCareer}" class="align-middle"></td>
                        <td th:text="${#dates.format(apply.applyDatetime, 'yy.MM.dd')}" class="align-middle"></td>
                        <td class="align-middle">
                            <button type="button" th:id="|applyViewBtn${apply.applyCode}|" class="btn btn-sm btn-modal" data-toggle="modal" data-target="#applyModal" th:attr='data-apply=${apply.applyCode}'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                        </button></td>
                        <td>
                            <button type="button" class="dBtn btn btn-sm mb-2" style="background-color: #e5e5e5;">숨김
                            </button>
                            <br>
                            <button type="button" class="dBtn btn btn-sm" style="background-color:#ffeaea;">삭제</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>

<!--                <h1 th:text="${applyList}"></h1>-->

            </div>
            <!--여기까지 본인 페이지 코드 작성-->
        </section>
    </div>
</div>
<!-- content -->

<div layout:fragment="contentModal">
    <!--Modal Section-->
    <div class="modal fade" id="applyModal" tabindex="-1" aria-labelledby="applyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="applyModalLabel">도비 신청서
                    </h5>
                </div>
                <div class="modal-body">
                    <div th:each="apply : ${applyList}" th:id="|applyView${apply.applyCode}|">
                        <h3 th:text="${apply.userName} + '님의 도비 신청 내용'"></h3>
                        <h5 th:text="'전문분야 : ' + ${apply.applyCareer}"></h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="closeBtn btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">닫기</button>
                    <button type="submit" class="btn btn-primary">수락</button>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="userScript">
    <!-- main js -->
    <script src="/js/main.js"></script>
    <script>

      $(function(){
        $(".btn-modal").click(function(){
            const applyCode = $(this).data('apply');
            const $targetModal = "#applyView"+applyCode;
            $($targetModal).addClass('show')
                .siblings()
                .removeClass('show');
        })

          $(".closeBtn").click(function(){
              $('#applyModal').removeClass('modal-backdrop').css('display', 'none')
              $('.modal-backdrop').removeClass('fade in').css('display', 'none')
              $('body').removeClass("modal-open")
          })

      })


    </script>
</th:block>

</body>
</html>
