<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.trillion.yamuzip.order.model.dao.PaymentMapper">


    <select id="getPaymentByOrderCode" resultType="team.trillion.yamuzip.order.model.dto.PaymentDTO">
        SELECT
            pay_code,
            order_code,
            pay_price,
            pay_type,
            pay_status,
            pay_datetime
        FROM
            tbl_payment
        WHERE
            order_code = ${ orderCode }
    </select>

    <update id="cancelPayment">
        UPDATE
            tbl_payment
        SET
            pay_status = 'R'
        WHERE
            pay_code = '${payCode}'
    </update>

    <update id="cancelOrder">
        UPDATE
            tbl_order
        SET
            order_status = 'C',
            cancel_reason = '${cancelReason}',
            cancel_datetime = CURRENT_TIMESTAMP
        WHERE
            order_code = ${orderCode}
    </update>


</mapper>

