<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.trillion.yamuzip.admin.model.dao.CSMapper">

    <select id="getCSCount">
        SELECT
            COUNT(*)
        FROM
            tbl_cs
        WHERE
            cs_status = 'A'
    </select>

    <select id="getCSList" resultType="team.trillion.yamuzip.admin.model.dto.CSDTO">
        SELECT
            a.cs_code,
            a.section,
            a.cs_created,
            a.cs_status,
            a.cs_type,
            a.cs_secret,
            a.cs_modify,
            a.cs_title,
            a.cs_content,
            a.writer_user_code,
            b.user_nickname
        FROM
            tbl_cs a
                JOIN
            tbl_user b on (a.writer_user_code = b.user_code)
        WHERE
            a.cs_status = 'A'
        ORDER BY
            a.cs_code DESC
        LIMIT #{offset}, #{limit}
    </select>

</mapper>