<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.trillion.yamuzip.admin.model.dao.DobbyMapper">

    <select id="findAllDobby" resultType="team.trillion.yamuzip.admin.model.dto.DobbyDTO">
        SELECT
            d.dob_code,
            u.user_code,
            u.user_id,
            d.dob_nickname,
            u.user_name,
            u.phone,
            u.regist_datetime,
            o.order_datetime,
            dobby_service_count
        FROM
            tbl_user u
                JOIN tbl_dobby d on (d.user_code = u.user_code)
                LEFT JOIN (select user_code, MAX(order_datetime) as order_datetime
                           from tbl_order
                           group by user_code) o ON (u.user_code=o.user_code)
                LEFT JOIN (select dob_code, count(*) as dobby_service_count
                           from tbl_service
                           group by dob_code) s ON (d.dob_code=s.dob_code)
        WHERE
            auth = 'DOBBY';
    </select>

    <select id="findDetailDobby" resultType="team.trillion.yamuzip.admin.model.dto.DobbyDTO">
        SELECT
            d.dob_code,
            d.dob_nickname,
            d.dob_img,
            d.dob_content,
            d.dob_area,
            d.dob_career_days,
            u.user_id,
            u.user_name,
            u.phone,
            u.email,
            u.regist_datetime,
            s.service_code,
            s.service_title,
            s.service_explain,
            s.service_price,
            s.service_status,
            s.service_created,
            s.thumbnail_url,
            o.order_datetime
        FROM
            tbl_user u
                JOIN tbl_dobby d on (d.dob_code = u.user_code)
                LEFT JOIN tbl_service s on (d.dob_code = s.dob_code)
                LEFT JOIN tbl_order o on (s.service_code = o.service_code)
        WHERE
            d.dob_code = #{ dobCode };
    </select>

    <!-- dobby detail service -->
    <select id="selectServiceCount" resultType="_int" parameterType="hashmap">
        SELECT
        COUNT(*)
        FROM
        tbl_service a
        <if test="searchCondition == 'serviceTitle'">
            JOIN
            tbl_dobby b ON(a.dob_code = b.dob_code)
        </if>
        <where>
            <if test="searchCondition == 'serviceTitle'">
                a.service_title LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="start != '' and start != null">
                AND
                a.service_created > #{ start }
            </if>
            <if test="end != '' and end != null">
                AND
                #{ end } > DATE_ADD(a.service_created, INTERVAL -1 DAY)
            </if>
            AND
            dob_code = #{ dobCode }
            AND
            service_status != 'U'
            AND
            service_status != 'R'
        </where>
        ORDER BY
        service_created DESC
    </select>

    <select id="selectAllServiceList" resultType="team.trillion.yamuzip.admin.model.dto.DobbyServiceDTO">
        SELECT
        a.service_code,
        a.thumbnail_url,
        a.service_title,
        a.service_created,
        a.service_price,
        b.user_code,
        b.dob_code,
        c.order_status
        FROM
        tbl_service a
        JOIN
        tbl_dobby b on (a.dob_code = b.dob_code)
        JOIN
        tbl_order c on (a.service_code = c.service_code)
        <where>
            <if test="selectCriteria.searchCondition == 'serviceTitle'">
                a.service_title LIKE CONCAT('%', #{ selectCriteria.searchValue }, '%')
            </if>
            <if test="selectCriteria.start != '' and selectCriteria.start != null">
                AND
                a.service_created > #{ selectCriteria.start }
            </if>
            <if test="selectCriteria.end != '' and selectCriteria.end != null">
                AND
                #{ selectCriteria.end } > DATE_ADD(a.service_created, INTERVAL -1 DAY)
            </if>
            AND
            a.dob_code = #{ dobCode }
            AND
            service_status != 'U'
            AND
            service_status != 'R'
        </where>
        ORDER BY
        a.service_created DESC
        LIMIT #{selectCriteria.offset}, #{selectCriteria.limit}
    </select>

    <!-- user detail calculate -->
    <select id="getCalcCount">
        SELECT
            COUNT(*)
        FROM
            tbl_calculate
        WHERE
            dob_code = #{ dobCode }
    </select>

    <select id="getCalcList" resultType="team.trillion.yamuzip.admin.model.dto.DobbyCalcDTO">
        SELECT
            a.service_code,
            a.service_title,
            b.reserve_datetime as payDatetime,
            b.total_price,
            a.thumbnail_url,
            IFNULL(d.cal_status, 0) as cal_status
        FROM
            tbl_service a
                LEFT JOIN tbl_order b ON a.service_code = b.service_code
                JOIN tbl_payment c on c.order_code = b.order_code
                LEFT JOIN (select cal_code as cal_status,
                                  pay_code
                           from tbl_calc_fin) d on (c.pay_code = d.pay_code)
                JOIN tbl_dobby e on a.dob_code = e.dob_code
        WHERE
            a.dob_code = #{ dobCode }
        ORDER BY
            d.cal_status DESC
            LIMIT #{selectCriteria.offset}, #{selectCriteria.limit}
    </select>


</mapper>