<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.trillion.yamuzip.admin.model.dao.DobbyMapper">

    <select id="findAllDobby" resultType="team.trillion.yamuzip.admin.model.dto.DobbyDTO">
        SELECT
            d.dob_code,
            u.user_id,
            d.dob_nickname,
            u.user_name,
            u.phone,
            u.regist_datetime,
            o.order_datetime,
            dobby_service_count
        FROM
            tbl_user u
                JOIN tbl_dobby d on (dob_code = u.user_code)
                LEFT JOIN (select user_code, MAX(order_datetime) as order_datetime
                           from tbl_order
                           group by user_code) o ON (u.user_code=o.user_code)
                LEFT JOIN (select dob_code, count(*) as dobby_service_count
                           from tbl_service
                           group by dob_code) s ON (u.user_code=s.dob_code)
        WHERE
            auth != 'ADMIN';
    </select>

    <select id="findDetailDobby" resultType="team.trillion.yamuzip.admin.model.dto.DobbyDTO">
        SELECT
            d.dob_code,
            d.dob_nickname,
            d.dob_img,
            d.dob_content,
            d.dob_area,
            d.dob_career_days,
            u.user_id,
            u.user_name,
            u.phone,
            u.email
            u.regist_datetime,
            s.service_code,
            s.service_title,
            s.service_explain
            s.service_price,
            s.service_status,
            s.service_created,
            s.thumbnail_url,
            o.order_datetime
        FROM
            tbl_user u
                JOIN tbl_dobby d on (d.dob_code = u.user_code)
                JOIN tbl_service s on (d.dob_code = s.dob_code)
                JOIN tbl_order o on (s.service_code = o.service_code);
    </select>


</mapper>