<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.trillion.yamuzip.admin.model.dao.DobbyApplyMapper">

    <select id="findAllApply" resultType="team.trillion.yamuzip.admin.model.dto.DobbyApplyDTO">
        SELECT
            a.apply_code,
            u.user_code,
            u.user_id,
            u.user_name,
            u.phone,
--             CONCAT(SUBSTRING(u.phone, 1, 3), '-', SUBSTRING(u.phone, 4, 4), '-', SUBSTRING(u.phone, 8, 4)),
            a.apply_career,
            a.apply_datetime
        FROM
            tbl_dob_apply a
                JOIN tbl_user u on (u.user_code = a.user_code)
        WHERE
            apply_status = 'C'
    </select>

    <update id="applyControl">
        UPDATE tbl_dob_apply
        SET apply_status = #{ result },
            apply_done = #{ applyDone },
            apply_reject_reason = #{ applyRejectReason },
            user_code = #{ userCode }
        WHERE apply_code = #{ applyCode }
    </update>

    <update id="addDobby">
        UPDATE tbl_user
        SET auth = 'DOBBY'
        WHERE user_code = #{ userCode };
    </update>




</mapper>