<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.trillion.yamuzip.admin.model.dao.OrderMapper">

    <!-- order list -->
    <select id="getOrderCount" resultType="_int" parameterType="hashmap">
        SELECT
            COUNT(*)
        FROM
            tbl_order a
        <if test="searchCondition == 'serviceTitle'">
            JOIN
            tbl_service b ON(a.service_code = b.service_code)
        </if>
        <where>
            <if test="searchCondition == 'serviceTitle'">
                b.service_title LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="start != '' and start != null">
                AND
                a.order_datetime > #{ start }
            </if>
            <if test="end != '' and end != null">
                AND
                #{ end } > DATE_ADD(a.order_datetime, INTERVAL -1 DAY)
            </if>
            <if test='orderStatus != "Z"'>
                AND a.order_status = #{orderStatus}
            </if>
        </where>
        ORDER BY
        order_datetime DESC
    </select>

    <select id="getOrderList" resultType="team.trillion.yamuzip.admin.model.dto.OrderDTO">
        SELECT
            a.order_code,
            a.user_code,
            a.service_code,
            b.service_title,
            a.order_datetime,
            a.order_status,
            c.pay_status,
            a.total_price
        FROM
            tbl_order a
                JOIN tbl_service b on (a.service_code = b.service_code)
                JOIN tbl_payment c on (a.order_code = c.order_code)
        <where>
            <if test="searchCondition == 'serviceTitle'">
                b.service_title LIKE CONCAT('%', #{ searchValue }, '%')
            </if>
            <if test="start != '' and start != null">
                AND
                a.order_datetime > #{ start }
            </if>
            <if test="end != '' and end != null">
                AND
                #{ end } > DATE_ADD(a.order_datetime, INTERVAL -1 DAY)
            </if>
            <if test='orderStatus != "Z"'>
                AND a.order_status = #{orderStatus}
            </if>
        </where>
        ORDER BY
        a.order_datetime DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectOrderDetail" resultType="team.trillion.yamuzip.admin.model.dto.OrderDetailDTO">
        SELECT
            o.order_code,
            o.order_datetime,
            o.reserve_datetime,
            o.reject_datetime,
            o.cancel_datetime,
            o.cancel_reason,
            o.order_status,
            o.total_price,
            u.user_name,
            p.pay_type,
            p.pay_status,
            s.service_title,
            s.thumbnail_url,
            s.service_explain
        FROM
            tbl_order o
                JOIN tbl_service s on s.service_code = o.service_code
                LEFT JOIN tbl_payment p on (o.order_code = p.order_code)
                LEFT JOIN tbl_user u on u.user_code = o.user_code
        WHERE
            o.order_code = #{ orderCode };
    </select>

</mapper>