<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.trillion.yamuzip.admin.model.dao.ServiceMapper">

    <select id="findAllService" resultType="team.trillion.yamuzip.admin.model.dto.ServiceDTO">
        SELECT
            service_code,
            dob_code,
            service_title,
            category_code,
            service_created,
            thumbnail_url
        FROM
            tbl_service
        ORDER BY
            service_code
    </select>

</mapper>