<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.trillion.yamuzip.admin.model.dao.ServiceMapper">

    <select id="findAllService" resultType="team.trillion.yamuzip.admin.model.dto.ServiceDTO">
        SELECT
            a.service_code,
            b.dob_nickname,
            a.service_title,
            a.service_status,
            a.service_created,
            a.thumbnail_url
        FROM
            tbl_service a
            LEFT JOIN tbl_dobby b ON (a.dob_code = b.dob_code)
        ORDER BY
            service_code
    </select>

    <update id="statusControl">
        UPDATE tbl_service
        SET service_status = #{ serviceStatus }
        WHERE service_code = #{ serviceCode }
    </update>

</mapper>