<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin}">

<head>
    <th:block layout:fragment="userCss">
        <style>
            .table-secondary {
                background-color: #efefef !important;
            }
        </style>
    </th:block>
</head>

<body>
<div id="fh5co-header">
    <th:block layout:fragment="headerFragment"></th:block>
</div>


<div layout:fragment="content">
    <div class="fh5co-hero" style="height: auto;">
        <section class="container-sm" style="padding-top: 150px;">

            <!--여기부터 본인 페이지 코드 작성-->

            <div class="container">
                <!--                            <h1 class="fs-1 fw-bord mb-4">관리자 페이지</h1>-->
                <!-- start dashboard content -->
                <div class="dashboardText col-md-10 col-sm-9 col-xs-8">
                    <p class="fs-5 pt-3 px-2">
                        <a href="#" class="text-black">관리자페이지</a> 〉 &nbsp;
                        <a href="#" class="text-black">정산관리</a> 〉 &nbsp;
                        <a href="#" class="text-black">정산내역조회</a> &nbsp;
                    </p>

                    <div class="container-fluid py-3 my-5">

                        <h6 class="fs-5 border-bottom pb-1 border-secondary-emphasis"
                            style="color: #0a5a88">서비스 내용</h6>

                        <div class="row">
                            <div class="col-4">
                                <img th:src="@{${calcDetail.thumbnailUrl}}" alt="thumbnail"
                                     class="align-middle img-thumbnail"/>
                            </div>
                            <div class="col-8">
                                <h3 th:text="${calcDetail.serviceTitle}" class="my-0"></h3>
<!--                                <h4 th:text="|예약일시 : ${#dates.format(calcDetail.reserveDatetime, 'yyyy년 MM월 dd일 HH시 mm분')}|"-->
<!--                                    class="my-0"></h4>-->
                                <p th:text="${calcDetail.serviceExplain}"></p>
                            </div>
                        </div>

                    </div>

                    <div class="container-fluid py-3 my-5">

                        <h6 class="fs-5 border-bottom pb-1 border-secondary-emphasis"
                            style="color: #0a5a88">정산 내용</h6>

                        <div class="row border-bottom">
                            <div class="col-md-12">
                                <!--                                <h2><a href="javascript:history.back(-1)"><</a>서비스 정보</h2>-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="my-2">서비스 정보</h4>
                                        <table class="table" style="height: 100%;">
                                            <tr>
                                                <th class="table-secondary">공급자</th>
                                                <td class="table-light" th:text="${calcDetail.userName}"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-secondary">정산계좌</th>
                                                <td class="table-light" th:text="${calcDetail.accBank + calcDetail.accNumber +
                                                '(예금주:' + calcDetail.userName + ')'}"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-secondary">서비스내용</th>
                                                <td class="table-light" th:text="${calcDetail.serviceTitle}"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-secondary">서비스제공일</th>
<!--                                                <td class="table-light"-->
<!--                                                    th:text="${#dates.format(calcDetail.reserveDatetime, 'yyyy.MM.dd')}"></td>-->
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="my-2">정산 내용</h4>
                                        <table class="table" style="height: 100%;">
                                            <tr>
                                                <th class="table-secondary text-center"
                                                    style="height: 20%; width: 30%;">서비스단가
                                                </th>
                                                <td class="table-light" th:text="${calcDetail.payPrice}"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-secondary text-center" style="height: 20%;">중개수수료</th>
                                                <td class="table-light" th:text="${calcDetail.chargePrice}"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" rowspan="2" class="table-light" th:inline="text">
                                                    <div class="row">
                                                        <div class="card-title col-8">- 서비스 기본가</div>
                                                        <div class="text-end col-4">[[${calcDetail.payPrice}]]원</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="card-title col-8">- 중개 수수료</div>
                                                        <div class="text-end col-4">[[${calcDetail.chargePrice}]]원</div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <h4 class="text-end mt-5 pt-5 fw-bold">총 결제금액 <span
                                        th:text="${calcDetail.calResult}"></span>원<br>
                                    <button id="cal-btn" type="button"
                                            class="btn btn-primary btn-modal mt-3" data-toggle="modal"
                                            data-target="#applyModal">
                                        정산 완료
                                    </button>
                                </h4>


                                <div class="container-fluid py-3 my-5">

                                    <h6 class="fs-5 border-bottom pb-1 border-secondary-emphasis"
                                        style="color: #0a5a88">명세서</h6>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </section>
    </div>
    <!-- End dashboard content -->

</div>

<th:block layout:fragment="userScript">
    <!-- main js -->
    <script src="/js/main.js"></script>
</th:block>

</body>
</html>
