<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--headerFragment 선언-->
<div th:fragment="headerFragment">
    <header id="fh5co-header-section" style="background-color: rgba(0,0,0,0.15)">
        <div class="container">
            <div class="nav-header">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
                <h1 id="fh5co-logo"><a href="main.html">YAMUZIP</a></h1>
                <!-- START #fh5co-menu-wrap -->
                <nav id="fh5co-menu-wrap" role="navigation">
                    <ul class="sf-menu" id="fh5co-primary-menu">
                        <li>
                            <a href="#" class="fh5co-sub-down">전체카테고리</a>
                            <ul class="fh5co-sub-menu">
                                <li><a href="#">서비스</a>
                                    <ul class="fh5co-sub-menu">
                                        <li><a href="" target="_blank">전체서비스</a></li>
                                        <li><a href="" target="_blank">청소</a></li>
                                        <li><a href="" target="_blank">수리</a></li>
                                        <li><a href="" target="_blank">이사</a></li>
                                        <li><a href="" target="_blank">설치</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">공지사항</a></li>
                                <li><a href="#">로그인</a></li>
                                <li><a href="#">회원가입</a></li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="main.html">도비등록</a>
                        </li>
                        <li class="active">
                            <a href="main.html">로그인</a>
                        </li>
                        <li class="loginBtn"><a href="contact.html">회원가입</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>

</html>