<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <th:block layout:fragment="userCss">
    </th:block>
    <style>
        .fh5co-overlay{display: none;}
        .form-box {
            border: 1px solid #ccc; /* 테두리 스타일 지정 */
            padding: 20px; /* 내부 여백 지정 */
            border-radius: 10px; /* 테두리 둥글기 설정 */
            margin: 20px; /* 바깥쪽 여백 지정 */
        }
        .form-floating p {
            text-align: left;
            margin: 0;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div id="fh5co-header">
            <th:block layout:fragment="headerFragment"></th:block>
        </div>


        <div layout:fragment="content">
            <div class="fh5co-hero">
                <div class="fh5co-overlay"></div>
                <section class="container-sm" style="padding-top: 150px;">

                <!--여기부터 본인 페이지 코드 작성-->

                    <h1> 아이디 찾기 </h1>
                    <main class="form-signin">
                        <form>
<!--                            <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
<!--                            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>-->
                            <div class="form-box">
                                <div style="padding: 10px"></div>
                                <p style="font-weight: bold">| 본인확인 이메일확인</p>
                                <div style="padding: 10px"></div>
                            <div class="form-floating">
                                <P>아이디</P>
                                <div style="padding: 5px"></div>
                                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
<!--                                <label for="floatingInput">Email address</label>-->
                            </div>
                            <div class="form-floating">
                                <p>이메일</p>
                                <div style="padding: 5px"></div>
                                <input type="email" class="form-control" id="floatingPassword" placeholder="Password">
<!--                                <label for="floatingPassword">Password</label>-->
                            </div>

<!--                            <div class="checkbox mb-3">-->
                                <div style="padding: 25px"></div>
<!--                                <label>-->
<!--                                    <input type="checkbox" value="remember-me"> Remember me-->
<!--                                </label>-->
<!--                            </div>-->
<!--                            <button class="w-100 btn btn-lg btn-primary" type="submit">아이디 찾기</button>-->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                   아이디찾기
                                </button>
                            </div>
                            <!-- Modal -->
                            <div style="padding: 70px"></div>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">아이디 찾기</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>회원님의 아이디는 ㅇㅇㅇ 입니다.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--                                            <button type="button" class="btn btn-primary">Save changes</button>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
<!--                            <p class="mt-5 mb-3 text-muted">© 2017–2021</p>-->
                        </form>

                    </main>

<!--                    <p>표시를 위해 노란색 배경 적용했어요~ 22번 줄 style에서 background-color만 제거하시면 됩니다 퐈이튕!!!</p>-->
<!--                    <p>style.css는 웬만하면 건들지 않기! 꼭 상의하고 변경하기</p>-->
<!--                    <p>페이지에 필요한 css가 새로 있다면 head태그에 있는 usercss 블럭 태그 안에 작성하시면 됩니다!</p>-->

                <!--여기까지 본인 페이지 코드 작성-->
                </section>
            </div>
        </div>
        <!-- content -->

    </div>
    <!-- page -->
</div>
<!-- wrapper -->

<th:block layout:fragment="userScript">
<!--본인 페이지 js 작성-->
</th:block>

</body>
</html>
