<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <th:block layout:fragment="userCss">
    </th:block>
    <style>
        .fh5co-overlay{display: none;}
    </style>
</head>

<body>

<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div id="fh5co-header">
            <th:block layout:fragment="headerFragment"></th:block>
        </div>


        <div layout:fragment="content">
            <div class="fh5co-hero">
                <div class="fh5co-overlay"></div>
                <section class="container-sm" style=": yellow; padding-top: 150px;">

                <!--여기부터 본인 페이지 코드 작성-->

                    <body>
                    <form action="user/regiest" method="post">
                    <div class="container">
                        <div class="input-form-backgroud row">
                            <div class="input-form col-md-12 mx-auto">
                                <h4 class="mb-3">회원가입</h4>
                                <form method="post" action="joinPro" name="userInfo"
                                      onsubmit="return checkValue()">
                                    <div class="row">
                                        <div class=" mb-3">
                                            <label for="memberId" style="display: block;">아이디</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="memberId" name="memberId" maxlength="50" placeholder="아이디를 입력해주세요" required>
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button">중복확인</button>
                                                </span>
                                            </div>
                                            <span class="idchk"></span>
                                        </div>
                                        <div class=" mb-3">
                                            <label for="memberName" style="display: block;">이름</label>
                                            <input type="text" class="form-control" id="memberName" placeholder="이름을 입력해주세요" value="" required>
                                            <span class="memberNamechk"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3">
                                            <label for="memberPw">비밀번호</label> <input type="password"
                                                                                      class="form-control" id="memberPw" placeholder="비밀번호를 입력해주세요"
                                                                                      value="" required> <span class="pwchk1"></span>
                                        </div>

                                        <div class=" mb-3">
                                            <label for="memberPwCheck">비밀번호 확인</label> <input type="password"
                                                                                              class="form-control" id="memberPwCheck"
                                                                                              placeholder="비밀번호를 다시 한번 입력해주세요" value="" required><span
                                                class="pwchk"></span>
                                        </div>

                                    </div>
                                    <div class="mb-3">
                                        <label for="email">이메일</label>
                                        <div class="input-group">
                                            <input type="email" class="form-control" id="email" placeholder="metadog@example.com" required="required">
                                            <span class="input-group-btn">
                                             <button class="btn btn-default" type="button">인증</button>
                                             </span>
                                        </div>
                                        <span class="emailchk"></span>
                                    </div>

                                    <div class="mb-3">
                                        <label for="phoneNumber">휴대폰 번호</label> <input type="text"
                                                                                       class="form-control" id="phoneNumber"> <span
                                            class="phchk"></span>
                                    </div>

<!--                                    <div class="mb-3">-->
<!--                                        <label for="address">우편번호 <span class="text-muted">&nbsp;(선택사항)</span>-->
<!--                                            <span class="text-muted">-->
<!--								<button type="button" class="btn" id="check_btn" onclick="#">찾기</button>-->
<!--						</span>-->
<!--                                        </label> <input type="text" class="form-control" id="address"-->
<!--                                                        placeholder="찾기를 눌러 주소를 입력하세요">-->
<!--                                    </div>-->

<!--                                    <div class="mb-3">-->
<!--                                        <label for="address2">주소<span class="text-muted">&nbsp;(선택사항)</span></label>-->
<!--                                        <input type="text" class="form-control" id="address2"-->
<!--                                               placeholder="주소를 입력해주세요.">-->
<!--                                    </div>-->
                                    <div class="mb-4"></div>



                                    <button class="btn btn-primary btn-lg btn-block" type="submit">가입
                                        완료</button>
                                </form>
                                <br>
                                <button class="btn btn-primary btn-lg btn-block"
                                        onclick="goPreForm();">뒤로가기</button>
                                <div style="padding: 100px"></div>
                            </div>
                        </div>

<!--                        <footer class="my-3 text-center text-small">-->
<!--                            <p class="mb-1">&copy; 2021 YD</p>-->
<!--                        </footer>-->
                    </div>

                    </form>

                    </body>



<!--                    <p>표시를 위해 노란색 배경 적용했어요~ 22번 줄 style에서 background-color만 제거하시면 됩니다 퐈이튕!!!</p>-->
<!--                    <p>style.css는 웬만하면 건들지 않기! 꼭 상의하고 변경하기</p>-->
<!--                    <p>페이지에 필요한 css가 새로 있다면 head태그에 있는 usercss 블럭 태그 안에 작성하시면 됩니다!</p>-->

                <!--여기까지 본인 페이지 코드 작성-->.

                </section>
            </div>
        </div>
        <!-- content -->

    </div>
    <!-- page -->
</div>
<!-- wrapper -->


<th:block layout:fragment="userScript">
<!--본인 페이지 js 작성-->
</th:block>


</body>
</html>
