<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--profileFragment 선언-->
    <div th:fragment="profileFragment" style="padding-top: 150px;">

        <div class="container white-box">
            <div class="row">

                <div class="col-3 p-4 justify-content-center">
                    <div class="img">
                        <img id="image-box"
                             class="img-thumbnail custom-circle center-block"
                             th:src="${dobby?.dobImg != null? dobby?.dobImg : '/images/profile.png'}" alt="도비 프로필"/>
                    </div>
                </div>

                <div class="col d-flex align-items-start justify-content-center flex-column mb-2 ">
                    <div class="p-3" th:text="${dobby?.dobNickname}"></div>
                    <button onClick="location.href='/mypage'" class="btn btn-* border border-white border-2 rounded-pill"><-> 일반 회원으로 전환</button>
                </div>
                <div class="col d-flex align-items-center justify-content-center">
<!--                    <button th:onclick="|location.href='@{/${dobby.dodNickname}}'|" class="btn btn-primary">내 프로필 보러가기</button>-->
                    <button th:onClick="|location.href=`profilePage`|" class="btn btn-primary" >내 프로필 보러가기</button>
                </div>
            </div>
        </div>
    </div>

</html>