<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
	<th:block layout:fragment="userCss">
	</th:block>
</head>

<body>
<div id="fh5co-wrapper">
	<div id="fh5co-page">
		<div id="fh5co-header">
			<th:block layout:fragment="headerFragment"></th:block>
		</div>


			<div layout:fragment="content">
				<div class="fh5co-hero">
					<div class="fh5co-overlay"></div>
					<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-color: #FFF;">
						<div class="desc animate-box">
							<img src="images/logo.png" class="img-fluid" style="width: 25rem; background-color: #0E79B2; border-radius: 10%" alt="logo">
							<h3>야무진 야무집 생활을 시작하세요.</h3>
							<span><a class="btn btn-lg" href="#">Get Started</a></span>
						</div>
					</div>

				</div>


				<div class="fh5co-listing" style="background-color: #FFFFFF">
					<div class="container" style="width: 65%;">
						<div class="row">
							<div class="col-md-4 col-sm-6 col-xxs-12 fh5co-item-wrap">
								<a class="fh5co-listing-item">
									<img src="images/main_icon1.png" alt="main_icon" class="img-responsive">
									<div class="fh5co-listing-copy">
										<h2>전체보기</h2>
									</div>
								</a>
							</div>
							<div class="col-md-4 col-sm-6 col-xxs-12 fh5co-item-wrap">
								<a class="fh5co-listing-item">
									<img src="images/main_icon2.png" alt="main_icon" class="img-responsive">
									<div class="fh5co-listing-copy">
										<h2>청소</h2>
									</div>
								</a>
							</div>
							<div class="col-md-4 col-sm-6 col-xxs-12 fh5co-item-wrap">
								<a class="fh5co-listing-item">
									<img src="images/main_icon3.png" alt="main_icon" class="img-responsive">
									<div class="fh5co-listing-copy">
										<h2>수리</h2>
									</div>
								</a>
							</div>
							<!-- END 3 row -->

							<div class="col-md-4 col-sm-6 col-xxs-12 fh5co-item-wrap">
								<a class="fh5co-listing-item">
									<img src="images/main_icon4.png" alt="main_icon" class="img-responsive">
									<div class="fh5co-listing-copy">
										<h2>이사</h2>
									</div>
								</a>
							</div>
							<div class="col-md-4 col-sm-6 col-xxs-12 fh5co-item-wrap">
								<a class="fh5co-listing-item">
									<img src="images/main_icon5.png" alt="main_icon" class="img-responsive">
									<div class="fh5co-listing-copy">
										<h2>설치</h2>
									</div>
								</a>
							</div>
							<div class="col-md-4 col-sm-6 col-xxs-12 fh5co-item-wrap">
								<a class="fh5co-listing-item">
									<img src="images/main_icon6.png" alt="main_icon" class="img-responsive">
									<div class="fh5co-listing-copy">
										<h2>기타</h2>
									</div>
								</a>
							</div>
							<!-- END 3 row -->


						</div>
					</div>
				</div>


				<div class="fh5co-section" style="background-color: #6D6D6D; display: inline-block; width: 100%;">
					<div class="container" style="width: 70%">
						<div class="row">
							<div class="fh5co-news col d-block">
								<h3>News</h3>
								<ul>
									<li>
										<a href="#">
											<span class="fh5co-date">Sep. 10, 2016</span>
											<h3>Newly done Bridge of London</h3>
											<!--									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus reprehenderit!</p>-->
										</a>
									</li>
									<li>
										<a href="#">
											<span class="fh5co-date">Sep. 10, 2016</span>
											<h3>Newly done Bridge of London</h3>
											<!--									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus reprehenderit!</p>-->
										</a>
									</li>
									<li>
										<a href="#">
											<span class="fh5co-date">Sep. 10, 2016</span>
											<h3>Newly done Bridge of London</h3>
											<!--									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus reprehenderit!</p>-->
										</a>
									</li>
								</ul>
							</div>
							<!--					<div class="col-md-6 fh5co-testimonial">-->
							<!--						<img src="images/cover_bg_1.jpg" alt="notice img1" class="img-responsive mb20">-->
							<!--						<img src="images/cover_bg_1.jpg" alt="notice img2" class="img-responsive">-->
							<!--					</div>-->
						</div>
					</div>
				</div>

			</div>
		<div layout:fragment="footerFragment"></div>
	</div>
	<!-- END fh5co-page -->
</div>

	<th:block layout:fragment="userScript">
		<!-- Main JS -->
		<script src="js/main.js"></script>
	</th:block>

</body>
</html>

