<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <th:block layout:fragment="userCss">
    </th:block>
    <style>
        .fh5co-overlay{display: none;}
        .form-box {
            border: 1px solid #ccc; /* 테두리 스타일 지정 */
            padding: 20px; /* 내부 여백 지정 */
            border-radius: 10px; /* 테두리 둥글기 설정 */
            margin: 20px; /* 바깥쪽 여백 지정 */
        }
        .form-floating p {
            text-align: left;
            margin: 0;
        }

        h1 {
            text-align: center;
        }

    </style>
</head>

<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div id="fh5co-header">
            <th:block layout:fragment="headerFragment"></th:block>
        </div>


        <div layout:fragment="content">
            <div class="fh5co-hero">
                <div class="fh5co-overlay"></div>
                <section class="container-sm" style="padding-top: 150px;">

                <!--여기부터 본인 페이지 코드 작성-->

                    <h1> 비밀번호 찾기 </h1>
                    <main class="form-signin">
                        <form>
                            <!--                            <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
                            <!--                            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>-->
                            <div class="form-box">
                                <div style="padding: 10px"></div>
                                <p style="font-weight: bold">| 본인확인 이메일인증</p>
                                <div style="padding: 10px"></div>
                                <div class="form-floating">
                                    <P>이름</P>
                                    <div style="padding: 5px"></div>
                                    <input type="text" class="form-control" id="name" placeholder="이름을 입력하세요">
                                    <!--                                <label for="floatingInput">Email address</label>-->
                                </div>
                                <div class="form-floating">
                                    <p>아이디</p>
                                    <div style="padding: 5px"></div>
                                    <input type="text" class="form-control" id="ID" placeholder="아이디를 입력하세요">
                                    <!--                                <label for="floatingPassword">Password</label>-->
                                </div>

                                <div class="form-floating">
                                    <p>이메일</p>
                                    <div style="padding: 5px"></div>
                                    <input type="email" class="form-control" id="email" placeholder="YAMUZIP@gmail.com">
                                    <!--                                <label for="floatingPassword">Password</label>-->
                                </div>

                                <div class="form-floating">
                                    <p>이메일확인</p>
                                    <div style="padding: 5px"></div>
                                    <input type="text" class="form-control" id="emailchek" placeholder="이메일확인">
                                    <!--                                <label for="floatingPassword">Password</label>-->
                                </div>

                                <div class="checkbox mb-3">
                                    <div style="padding: 25px"></div>
                                    <!--                                <label>-->
                                    <!--                                    <input type="checkbox" value="remember-me"> Remember me-->
                                    <!--                                </label>-->
                                </div>
<!--                                <button class="w-100 btn btn-lg btn-primary" type="submit">비빌번호 찾기</button>-->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    비밀번호 찾기
                                </button>
                            </div>
                            <div style="padding: 70px">
                                <!-- Modal -->
                                <div style="padding: 70px"></div>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">비밀번호 찾기</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>임시 비밀번호 발급 완료.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <!--                                            <button type="button" class="btn btn-primary">Save changes</button>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--                            <p class="mt-5 mb-3 text-muted">© 2017–2021</p>-->
                        </form>

                    </main>
                <!--여기까지 본인 페이지 코드 작성-->
                </section>
            </div>
        </div>
        <!-- content -->

    </div>
    <!-- page -->
</div>
<!-- wrapper -->

<th:block layout:fragment="userScript">
<!--본인 페이지 js 작성-->
</th:block>

</body>
</html>
