<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin}">

<head>
    <th:block layout:fragment="userCss">
        <style>
            .dashboardText > p > a:hover,
            .dashboardText > div > div > a:hover {
                color: #003f62 !important;
            }

            svg.bi {
                color: rgba(38, 38, 38, 0.5);
            }

            .accBtn {
                border: 0;
                background-color: transparent;
            }

            .accBtn svg:hover {
                border: 0;
                background-color: rgba(0, 0, 0, 0.2);
            }
        </style>
    </th:block>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
<div id="fh5co-header">
    <th:block layout:fragment="headerFragment"></th:block>
</div>


<div layout:fragment="content">
    <div class="fh5co-hero" style="height: auto">
        <!--                <div class="fh5co-overlay"></div>-->
        <section class="container-sm" style="padding-top: 150px">

            <div class="dashboardText col-md-10 col-sm-9 col-xs-8">
<!--                <p class="fs-5 pt-3 px-2">-->
<!--                    <a href="/admin/dashboard/dashboard" class="text-black">관리자페이지</a> 〉 &nbsp;-->
<!--                    <a href="" class="text-black fw-black">정산관리</a> &nbsp;-->
<!--                </p>-->

                <p class="h3 border-bottom border-2 pb-3 px-2" style="color: #003f62">정산관리</p>
                <div class="container-fluid mt-5">
                    <div class="row gx-3">
                        <div class="col-6">
                            <div class="rounded-5 p-5 border border-2 text-center">
                                <p class="h2 pt-4" style="color: #003f62">주문내역</p>
                                <button type="button" class="btn btn-sm btn-primary mt-3"
                                        th:onclick="|location.href='/admin/order/list'|">자세히 보기
                                </button>
                                <div class="mx-5 pt-5" style="border-bottom: solid 1px dimgray;"></div>
                                <p class="h6 lh-base py-3">전체 주문 내역을 조회하고,<br>주문 상세 정보에서<br>주문을 취소할 수 있습니다.</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="rounded-5 p-5 border border-2 text-center">
                                <p class="h2 pt-4" style="color: #003f62">정산내역</p>
                                <button type="button" class="btn btn-sm btn-primary mt-3"
                                        th:onclick="|location.href='/admin/order/list?start=&end=&searchValue=&orderStatus=Z'|">자세히 보기
                                </button>
                                <div class="mx-5 pt-5" style="border-bottom: solid 1px dimgray;"></div>
                                <p class="h6 lh-base py-3">상태별로 정산내역을 조회하고,<br>서비스 정보와 정산 세부 내용,<br>개별 명세서를 조회합니다.</p>
                            </div>
                        </div>
                    </div>
                </div>

    </div>
    <!-- End Page Title -->

</div>
<!--여기까지 본인 페이지 코드 작성-->
</section>
</div>

<th:block layout:fragment="userScript">
    <!-- main js -->
    <script src="/js/main.js"></script>

</th:block>

</body>
</html>
