<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/admin}">

<head>
    <th:block layout:fragment="userCss">
        <style>
            .dashboardText > p > a:hover,
            .dashboardText > div > div > a:hover {
                color: #003f62 !important;
            }

            svg.bi {
                color: rgba(38, 38, 38, 0.5);
            }
        </style>
    </th:block>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>
<div id="fh5co-header">
    <th:block layout:fragment="headerFragment"></th:block>
</div>


<div layout:fragment="content">
    <div class="fh5co-hero" style="height: auto">
        <!--                <div class="fh5co-overlay"></div>-->
        <section class="container-sm" style="padding-top: 150px">

            <!-- start dashboard content -->
            <div class="dashboardText col-md-10 col-sm-9 col-xs-8">

                <p class="h3 border-bottom border-2 pb-3 px-2" style="color: #003f62">회원관리</p>

                <div class="container-fluid g-5">
                <div class="row mt-5">
                    <div class="col-6 rounded px-5 border text-center">
                        <p class="h2 pt-4" style="color: #003f62">회원</p>
                        <button type="button" class="btn btn-sm btn-primary mt-3"
                                th:onclick="|location.href='/admin/user/list'|">자세히 보기
                        </button>
                        <div class="mx-5 pt-5" style="border-bottom: solid 1px dimgray;"></div>
                        <p class="h6 lh-base py-3">야무집의 모든 회원을 조회하고,<br>회원의 활동을 관리할 수 있습니다.<br>주문관련의 설정은 정산관리에서 진행할 수
                            있습니다.</p>
                    </div>
                    <div class="col-6 rounded px-5 border text-center">
                        <p class="h2 pt-4" style="color: #003f62">도비</p>
                        <button type="button" class="btn btn-sm btn-primary mt-3"
                                th:onclick="|location.href='/admin/dobby/list'|">자세히 보기
                        </button>
                        <div class="mx-5 pt-5" style="border-bottom: solid 1px dimgray;"></div>
                        <p class="h6 lh-base py-3">야무집의 도비 회원을 조회하고,<br>도비의 활동을 관리할 수 있습니다.<br>신규 도비 신청 목록을 조회하고, 승인 및
                            거절을 진행합니다.</p>
                    </div>
                </div>


                <div class="mb-5">
                    <div class="row text-center">
                        <div class="col-6 bg-body py-5 px-1 rounded border">
                            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor"
                                 class="bi bi-person-plus" viewBox="0 0 16 16">
                                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                                <path fill-rule="evenodd"
                                      d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"/>
                            </svg>
                            <br>
                            <p class="h4 fw-bold text-emphasis">신규 도비 신청</p>
                            <button type="button" class="btn btn-sm btn-secondary mt-2"
                                    th:onclick="|location.href='/admin/apply/list'|">자세히 보기
                            </button>
                        </div>
                        <div class="col-6 bg-body py-5 px-1 rounded border">
                            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-person-gear" viewBox="0 0 16 16">
                                <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1zm3.63-4.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
                            </svg>
                            <br>
                            <p class="h4 fw-bold text-emphasis">정지 상태 관리</p>
                            <button type="button" class="btn btn-sm btn-secondary mt-2"
                                    th:onclick="|location.href='/admin/user/banList'|">자세히 보기
                            </button>
                        </div>
                    </div>
                </div>
                </div>
                <!-- container -->
            </div>
            <!-- End dashboard content -->

    </div>
    <!-- End Page Title -->

<!--여기까지 본인 페이지 코드 작성-->
</section>
</div>

<th:block layout:fragment="userScript">
    <!-- main js -->
    <script src="/js/main.js"></script>

</th:block>

</body>
</html>
