<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <th:block layout:fragment="userCss">
    </th:block>
</head>

<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div id="fh5co-header">
            <th:block layout:fragment="headerFragment"></th:block>
        </div>


        <div layout:fragment="content">
            <div class="fh5co-hero" style="height: auto">
                <div class="fh5co-overlay"></div>
                <section class="container-sm" style="background-color: yellow; padding-top: 150px;">

                <!--여기부터 본인 페이지 코드 작성-->

                    <h1>hello</h1>

                    <p>표시를 위해 노란색 배경 적용했어요~ 22번 줄 style에서 background-color만 제거하시면 됩니다 퐈이튕!!!</p>
                    <p>style.css는 웬만하면 건들지 않기! 꼭 상의하고 변경하기</p>
                    <p>페이지에 필요한 css가 새로 있다면 head태그에 있는 usercss 블럭 태그 안에 작성하시면 됩니다!</p>

                <!--여기까지 본인 페이지 코드 작성-->
                </section>
            </div>
        </div>
        <!-- content -->

    </div>
    <!-- page -->
</div>
<!-- wrapper -->

<th:block layout:fragment="userScript">
<!--본인 페이지 js 작성-->
</th:block>

</body>
</html>
