<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin}">

<head>
    <th:block layout:fragment="userCss">
        <style>
            .dashboardText > p > a:hover,
            .dashboardText > div > div > a:hover {
                color: #003f62 !important;
            }
            svg.bi {
                color: rgba(38, 38, 38, 0.5);
            }
            .accBtn, .ecBtn {
                border: 0;
                background-color: transparent;
            }
            .accBtn svg:hover, .ecBtn:hover {
                border: 0;
                background-color: rgba(0, 0, 0, 0.2);
            }
        </style>
    </th:block>
</head>

<body>
<div id="fh5co-header">
    <th:block layout:fragment="headerFragment"></th:block>
</div>


<div layout:fragment="content">
    <div class="fh5co-hero" style="height: auto;">
        <!--                <div class="fh5co-overlay"></div>-->
        <section class="container-sm" style="padding-top: 150px;">

            <!--여기부터 본인 페이지 코드 작성-->

            <!-- start dashboard content -->
            <div class="dashboardText col-md-10 col-sm-9 col-xs-8">
                <p class="fs-5 pt-3 px-2">
                    <a href="#" class="text-black">관리자페이지</a> 〉 &nbsp;
                    <a href="#" class="text-black fw-bolder">카테고리관리</a>  &nbsp;
                </p>

                <div class="container-fluid border border-2 rounded py-3">
                <h1></h1>
                </div>
            <!-- End dashboard content -->

    </div>
    <!-- End Page Title -->

    <!--여기까지 본인 페이지 코드 작성-->
    </section>
</div>
</div>
<!-- content -->


<th:block layout:fragment="userScript">
    <!-- main js -->
    <script src="js/main.js"></script>
</th:block>

</body>
</html>
