<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin}">

<head>
    <th:block layout:fragment="userCss">
        <style>
            .table-secondary {
                background-color: #efefef !important;
            }
            th {
                font-weight: bold;
                font-size: 1.5rem;
                color: #424242 !important;
                padding-left: 2rem !important;
            }
            img {
                width: 150px;
            }
            h1, h2, h3 { font-weight: 700; color: #003363; }
            h4 { margin-bottom: 15px; font-weight: 700; color: #003363; }
            textarea { resize: none; max-width: 200px; }

            .modal-body > div{display: none;}
            .modal-body > div.show{display: block;}
            .modal-header {display: block;}

        </style>
    </th:block>
</head>

<body>
<div id="fh5co-header">
    <th:block layout:fragment="headerFragment"></th:block>
</div>


<div layout:fragment="content">
    <div class="fh5co-hero" style="height: auto;">
        <section class="container-sm" style="padding-top: 150px;">

            <!--여기부터 본인 페이지 코드 작성-->

            <div class="container">
                <!--                            <h1 class="fs-1 fw-bord mb-4">관리자 페이지</h1>-->
                <!-- start dashboard content -->
                <div class="dashboardText col-md-10 col-sm-9 col-xs-8">
                    <p class="fs-5 pt-3 px-2">
                        <a href="/admin/dashboard/" class="text-black">관리자페이지</a> 〉 &nbsp;
                        <a href="/admin/dashboard/acc" class="text-black">정산관리</a> 〉 &nbsp;
                        <a href="/admin/order/list" class="text-black">전체주문내역</a> &nbsp;
                    </p>

                    <div class="container-fluid py-3 my-5">

                        <h3 class="fs-2 border-bottom border-3 pb-1 border-secondary-emphasis"
                            style="color: #0a5a88">주문 내용</h3>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 class="my-2">주문정보</h5>
                                        <table class="table" style="height: 100%;">
                                            <tr>
                                                <th class="table-secondary">주문번호</th>
                                                <td class="table-light" th:text="${orderDetail.orderCode}"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-secondary">주문일자</th>
                                                <td class="table-light" th:text="${orderDetail.orderDateString}"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-secondary">주문자</th>
                                                <td class="table-light" th:text="${orderDetail.userName}"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-secondary">주문상태</th>
                                                <td class="table-light" th:text="${orderDetail.orderStatus.getOrderStatus()}"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <h5 class="my-2">결제정보</h5>
                                        <table class="table" style="height: 100%;">
                                            <tr>
                                                <th class="table-secondary"
                                                    style="height: 20%; width: 30%;">결제방법
                                                </th>
                                                <td class="table-light" th:text="${orderDetail.payType.getPayType()}"></td>
                                            </tr>
                                            <tr>
                                                <th class="table-secondary" style="height: 20%;">결제상태</th>
                                                <td class="table-light" th:text="${orderDetail.payStatus.getPayStatus()}"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" rowspan="2" class="table-light">
                                                    <div class="row px-3">
                                                        <div class="card-title col-8">- 서비스 기본가</div>
                                                        <div class="text-end col-4">[[${orderDetail.totalPrice}]]원</div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                                <h4 class="text-end mt-5 pt-5 fw-bold">총 결제금액 <span
                                        th:text="${orderDetail.totalPrice}"></span>원<br>
                                </h4>

                                <div class="container-fluid py-3 my-5">
                                    <table class="table" style="height: 100%;">
                                        <thead>
                                        <tr>
                                            <th class="table-secondary">서비스 정보</th>
                                            <th class="table-secondary"></th>
                                            <th class="table-secondary">옵션</th>
                                            <th class="table-secondary">예약일</th>
                                            <th class="table-secondary">주문상태</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <td class="img-col"><img class="order-img align-middle img-thumbnail"
                                                                     th:src="${orderDetail.thumbnailUrl}"/></td>
                                            <td class="align-middle" th:text="${orderDetail.serviceTitle}"></td>
                                            <td class="align-middle"></td>
                                            <td th:text="${orderDetail.reserveDateString}" class="align-middle"></td>
                                            <td th:text="${orderDetail.orderStatus.getOrderStatus()}" class="align-middle"></td>
                                        </tbody>
                                    </table>
                                </div>

                                <h3 class="border-top border-2 pt-5 border-secondary-emphasis text-center"
                                    style="color: #0a5a88">
                                    <button id="cancel-btn" type="button" class="btn btn-light btn-modal" data-toggle="modal" data-target="#applyModal">
                                        주문 취소
                                    </button>
                                </h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="~{admin/order/cancel.html}"></div>

        </section>
    </div>
</div>

<th:block layout:fragment="userScript">
    <!-- main js -->
    <script src="/js/main.js"></script>

    <script>
        $(function(){
            //입력박스 숨어있다가
            $("#cancelReasonEtc").hide();
            $("#cancelReason").change(function() {
                //기타를 선택하면 등장
                if($("#cancelReason").val() == "etc") {
                    $("#cancelReasonEtc").show();
                }  else {
                    $("#cancelReasonEtc").hide();
                }
            })
        });
    </script>
</th:block>

</body>
</html>
