<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<div th:fragment="contentFragment">


  <div class="container">
    <div class="row">

      <!--nav-->
      <div class="col-2 mt-5">
        <div class="fs-3 px-4 py-2">마이 야무집</div>
        <div class="border-bottom border-secondary-subtle my-1 mb-3"></div>
        <div class="col">
          <ul class="nav nav-pills flex-column mb-auto">
            <li><a href="#" onClick="location.href='/dobby/mypage'" class="text-body-tertiary link-body-emphasis d-inline-flex text-decoration-none rounded my-1 active">마이 야무집</a></li>
            <li><a href="#" onClick="location.href='/dobby/order'" class="text-body-tertiary link-body-emphasis d-inline-flex text-decoration-none rounded my-1">판매 관리</a></li>
            <li><a href="#" onClick="location.href='/dobby/service'" class="text-body-tertiary link-body-emphasis d-inline-flex text-decoration-none rounded my-1">내 서비스</a></li>
            <li><a href="#" onClick="location.href='/dobby/calc'" class="text-body-tertiary link-body-emphasis d-inline-flex text-decoration-none rounded my-1">수익 관리</a></li>
            <li><a href="#" onClick="location.href='/dobby/cs'" class="text-body-tertiary link-body-emphasis d-inline-flex text-decoration-none rounded my-1">문의 관리</a></li>
          </ul>
        </div>
      </div>

      <!-- 오른쪽 메인 페이지 -->
      <div class="col">

  <div layout:fragment="content">
      <!--Content Section-->
  </div>

  <div layout:fragment="contentModal">
    <!--Modal Section-->
  </div>
      </div>
    </div>
  </div>
</div>

</html>