<!DOCTYPE html>

<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/layout}">

<head>
    <th:block layout:fragment="userCss">
    <style>
        .white-box{
            background: #F2F2F2;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0.5px 0.5px 2px 1px #eee;
        }

        .custom-width {
            width: 100px; /* 원하는 너비를 지정하세요 */
        }

        .custom-circle {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
        }
    </style>
    </th:block>
</head>

<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div id="fh5co-header">
            <th:block layout:fragment="headerFragment"></th:block>
        </div>


        <div layout:fragment="content">
            <div class="fh5co-hero" style="height: auto;">
                <!--                <div class="fh5co-overlay"></div>-->
                <section class="container-sm" style="padding-top: 150px;">

                    <!--여기부터 본인 페이지 코드 작성-->


                    <!-- 프로필 등록 페이지 -->

                    <div class="row">
                        <div class="col-2">
                            <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                                <nav class="nav nav-pills flex-column">
                                    <a class="nav-link" href="#item-1">➀ 내 정보</a>
                                    <a class="nav-link" href="#item-2">➁ 비밀번호 변경</a>
                                    <a class="nav-link" href="#item-3">➂ 회원 탈퇴</a>
                                </nav>
                            </nav>
                        </div>

                        <div class="col-10">
                            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                                <div id="item-1">
                                    <h4>➀ 내 정보</h4>

                                    <form id="userInfoForm" action="/mypage/profile" method="post" enctype="multipart/form-data">

                                        <!-- 프로필 이미지 등록 -->

                                        <div class="img">
                                            <img id="image-box"
                                                 class="img-thumbnail custom-circle center-block"
                                                 th:src="${#authentication.principal.userImg != null
                                            ? #authentication.principal.userImg : '/images/profile.png'}" alt="유저 프로필"/>
                                        </div>

                                        <div class="file_box">

                                            <button type="button" class="btn btn-light mt-3 center-block"
                                                    onclick="fileCancled()">이미지 제거</button>

                                            <input id="image-file-box" type="file" value="이미지 업로드" name="profile"
                                                   class="btn btn-light mt-3 center-block"
                                                   onchange="viewURL()"/>
                                            <label for="image-file-box" class="upload_btn "></label>

                                        </div>



                                        <!-- 프로필 정보 등록 -->

                                        <div class="center-block pt-5" style="width: 500px;">
                                            닉네임<input type="text" id="userNickname" name="userNickname" class="form-control" th:value="${#authentication.principal.userNickname}" th:placeholder="${#authentication.principal.userNickname}">
                                        </div>

                                        <div class="center-block pt-5" style="width: 500px;">
                                            이름<input type="text" id="userName" name="userName" class="form-control" th:value="${#authentication.principal.userName}" th:placeholder="${#authentication.principal.userName}">
                                        </div>

                                        <div class="center-block pt-5" style="width: 500px;">
                                            전화번호<input type="text" name="phone" class="form-control" th:value="${#authentication.principal.phone}" th:placeholder="${#authentication.principal.phone}">
                                        </div>

                                        <div class="center-block pt-5" style="width: 500px;">
                                            이메일<input type="text" name="email" class="form-control" th:value="${#authentication.principal.email}" th:placeholder="${#authentication.principal.email}">
                                        </div>

                                        <div class=" p-5">
                                            <button type="submit" class="btn btn-primary mt-3 float-end" data-bs-toggle="modal" data-bs-target="#profileChangeModal">
                                                내 정보 저장
                                            </button>
                                        </div>

                                    </form>
                                </div>

                                <div id="item-2">
                                    <h4 class="py-5">➁ 비밀번호 변경</h4>
                                    <p>...</p>


                                    <div class=" p-5">
                                        <button type="button" class="btn btn-primary mt-3 float-end" data-bs-toggle="modal" data-bs-target="#profileChangeModal">
                                            비밀번호 저장
                                        </button>
                                    </div>

                                </div>
                                <div id="item-3">
                                    <h4 class="py-5">➂ 회원 탈퇴</h4>
                                    <p>...</p>

                                    <div class="p-5">
                                        <button type="button" class="btn btn-primary mt-3 float-end" data-bs-toggle="modal" data-bs-target="#profileChangeModal">
                                            회원 탈퇴
                                        </button>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                            <!--여기까지 본인 페이지 코드 작성-->
                </section>
            </div>
        </div>
        <!-- content -->

    </div>
    <!-- page -->
</div>
<!-- wrapper -->

<th:block layout:fragment="userScript">
    <!--본인 페이지 js 작성-->
    <!-- Main JS -->
    <script src="/js/main.js"></script>
    <script>
        function viewURL() {
            const $imageFile = document.querySelector("#image-file-box");
            const fReader = new FileReader();
            fReader.readAsDataURL($imageFile.files[0]);
            fReader.onload = function (event) {
                const img = document.querySelector("#image-box");
                img.src = event.target.result;
                console.log("path : ", event.target.result);
            }
        }

        function fileCancled() {
            const $fileImg = document.querySelector("#image-box");
            const $imageFileBox = document.querySelector("#image-file-box");

            $fileImg.src = "/images/profile.png";
            $imageFileBox.value = "";

            /* 위에 html에 form태그 name => userModifyForm */
            const $userModifyForm = document.forms.userModifyForm;

            /* 제거했을때 넘어오는 코드 */
            $userModifyForm.insertAdjacentHTML("beforeend", `<input type="hidden" name="profileDelete" value="true"/>`);
        }

        console.log(document.forms)
    </script>
</th:block>

</body>
</html>
